@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --azul-claro: #45b7e5;
    --margin-10: 10px;
    --margin-20: 20px;
    --azul-principal: #1b3556;
    --container-width: 960px;
}

/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 12px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #f2f3f8;
    border-radius: 5px;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.219);
    border: 2px solid #f2f3f8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #f2f3f8;
    overflow-x: hidden;
}

header {
    background-color: #f2f3f8;
    padding-top: 50px;
    padding-bottom: 70px;
}


.header2 {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 20px;
}

#hearts {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.datatrote h1 {
    font-weight: 700;
    background-color: white;
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 10px;

}

.datatrote .nicom {
    display: block;
    text-align: center;
    padding: 5px 15px;
    border-radius: 5px;
}

.datatrote i {
    color: #e53888;
    cursor: pointer;
}

main {
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
}

.main2 {
    max-width: 960px;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

h2 i {
    font-size: 18px;
}

p {
    text-align: center;
}

.detalhesquevaoterqueler {
    color: #bbbece;
    font-size: small;
    margin-top: -10px;
    margin-bottom: 40px;
    border-bottom: 2px dotted #45b7e5;
    padding-bottom: 40px;
}

.itenshorascontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box {
    padding: 8px 10px;
    border: 1px solid #1b3556;
    border-radius: 5px;
    min-width: 0px;
    text-align: center;
}

#descriptionhoras {
    min-width: 280px;
}

#itemhoras {
    min-width: 60px;
}

.tooltip {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

.tooltip.show {
    display: block;
}

.fa-circle-question {
    cursor: pointer;
}

.cursowow {
    background-color: #f2f3f8;
    border-radius: 5px;
    padding: 20px 15px;
}

@media (max-width: 600px) {

    .itenshorascontainer {
        flex-direction: column;
    }

    .header2 {
        flex-direction: column;
    }

    #descriptionhoras {
        min-width: 0px;
        padding: 8px 15px;

    }

    /* Estilo dos botões das abas */
    .tab button {
        font-size: 14px !important;
    }

    .textomenortab {
        font-size: 11px !important;
    }

    .header2 {
        gap: 0px;
    }

}

/* tab kkkkkkkkkkkkkkk --------------------------------------------------------------- */

.tabcontent p {
    text-align: left;
}

/* Abas Sobre a FAM e Sobre o curso*/
.tab {
    display: flex;
    overflow: hidden;
    max-width: var(--container-width);
    margin: auto;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
}

/* Estilo dos botões das abas */
.tab button {
    flex-grow: 1;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0;
    transition: all 0.3s;
    text-align: center;
    box-sizing: border-box;
    font-size: larger;
    font-weight: 700;
    background-color: var(--azul-claro);
    color: white;
    margin-bottom: var(--margin-10);
    font-size: 18px;
}

/* Altera a cor de fundo dos botões ao passar o mouse */
.tab button:hover {
    background-color: var(--azul-principal);
}

.tab button.active:hover {
    color: var(--azul-claro);
}

/* Ativa a aba com cor de fundo diferente */
.tab button.active {
    background-color: #f2f3f8;
    color: #242527;
}

/* Estilo do conteúdo das abas */
.tabcontent {
    display: none;
    padding: 0 var(--margin-20);
    border-top: none;
    height: 50vh;
    max-width: var(--container-width);
    margin: auto;
    box-sizing: border-box;
    background-color: #f2f3f8;
    border-radius: 0 0 5px 5px;
    overflow-y: auto;
    text-align: left;
    color: #242527;
    position: relative;
}

.scroll-container {
    position: relative;
    max-width: var(--container-width);
    margin: 0 auto;
    background-color: #f2f3f8;
    border-radius: 5px;
}

.tabcontent::-webkit-scrollbar {
    width: 10px;
}

.tabcontent::-webkit-scrollbar-track {
    background-color: #f2f3f8;
    border-radius: 50px;
}

.tabcontent::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.253);
    border: 3px solid #f2f3f8;
    border-radius: 50px;
}

.slide-container {
    margin-top: var(--margin-20);
    max-width: var(--container-width);
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
}

.textomenortab {
    font-size: small;
}