@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 12px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.219);
    border: 2px solid white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);

}

body {
    font-family: 'Source Sans 3', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    max-width: 1080px;
    background-color: #ff1414;
    margin-bottom: 10px;
    margin: 0 auto;
}

header img {
    width: 100%;
    height: auto;
    margin-bottom: -6px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}