@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 12px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.219);
    border: 2px solid white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);

}

body {
    font-family: 'Source Sans 3', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    max-width: 1080px;
    background-color: #ff1414;
    margin-bottom: 10px;
    margin: 0 auto;
}

header img {
    width: 100%;
    height: auto;
    margin-bottom: -6px;
}

main {
    max-width: 1000px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px auto;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
}

/* GALERIA ------------------------------------------------------------------------------------------------------------------------------------------- */

.title,
.subtitle {
    justify-content: center;
}

.title {
    font-weight: bold;
    color: #1b3556;
    font-size: large;
}

.subtitle {
    color: #bac0d1;
    font-weight: 400;
    font-size: small;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 10px;
}

.galeria a {
    text-decoration: none;
}

.textaofamexplicacao {
    text-align: center;
}

.textaofamexplicacaomini {
    display: flex;
    justify-self: center;
    color: #bac0d1;
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-bottom: 5px;
    max-width: 960px;
    margin: 30px auto;
}

.tags-container {
    z-index: 2;
    display: flex;
    gap: 5px;
}

.tags {
    text-transform: uppercase;
    color: #1b3556;
    font-weight: 700;
    font-size: small;
    background-color: white;
    padding: 2px 8px;
    border-radius: 5px;
    text-align: center;
}

.tags i {
    margin-left: -2px;
}

.new {
    color: white;
    background-color: #3eb288;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #45b7e5;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    min-height: 250px;
    overflow: hidden;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.card .content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 15px;
    background: white;
    border-radius: 5px;
}

@media (max-width: 1000px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width: 600px) {
    .galeria {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}