@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Cores para o modo claro */
:root {
  --background-color: #f2f3f8;
  --main-color: white;
  --button-color: #45B7e5;
  --button-color_oposto: #f9e20f;
  --img_filter: brightness(200%);
  --icon_filter: invert(71%) sepia(29%) saturate(2936%) hue-rotate(166deg) brightness(96%) contrast(86%);
  ;
  --texto: black;
  --dot: #1b3556;
  --texto_cinzaclaro: #58595b;
  --titulo_cor: #0e2e7c;
  --maincor: white;
  --icon_azulescuro: invert(15%) sepia(50%) saturate(987%) hue-rotate(179deg) brightness(94%) contrast(91%);
  --narbar: #1b3556;
  --footer: #1b3556;
  --cinza: #bac0d1;
}

/* Cores para o modo escuro */
body.dark-mode {
  --background-color: rgb(34, 34, 34);
  --main-color: #121212;
  --button-color: #f9e20f;
  --button-color_oposto: #45B7e5;
  --img_filter: brightness(0.2);
  --icon_filter: invert(95%) sepia(88%) saturate(5902%) hue-rotate(330deg) brightness(104%) contrast(100%);
  --texto: rgb(255, 255, 255);
  --dot: #f2f3f8;
  --texto_cinzaclaro: #c3c5c9;
  --titulo_cor: #45B7e5;
  --maincor: #333333;
  --icon_azulescuro: invert(95%) sepia(88%) saturate(5902%) hue-rotate(330deg) brightness(104%) contrast(100%);
  --narbar: #121212;
  --footer: #121212;
  --cinza: #333;
}

/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
  width: 12px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 5px;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
  background: var(--button-color);
  border: 4px solid var(--background-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--button-color_oposto);
}

body {
  background-color: var(--background-color);
  font-family: 'Source Sans 3', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}



button {
  font-family: 'Source Sans 3', sans-serif;
}

.botao_mudarcor {
  color: var(--background-color);
  position: fixed;
  right: 20px;
  top: 25px;
  background-color: var(--button-color);
  border-radius: 50px;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 9999;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: var(--background-color);
  padding: 8px 15px;
  border-radius: 50px;
  text-decoration: none;
  z-index: 9999;
  font-weight: 600;
}



/*header e background ----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

header {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
  margin-bottom: 20px;

}

header img {
  border-radius: 10px 10px 5px 5px;
  width: 100%;
  height: calc(85dvh - 100px);
  object-fit: cover;
  object-position: center;
}

#svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  opacity: 0.5;
  overflow-y: hidden;
}

.svg-pattern {
  position: absolute;
  filter: var(--img_filter);
  overflow-y: hidden;
}



/*slider -------------------------------------------------------------------------------------------------------------------------------------------------------*/
.progress-bar {
  width: 100%;
  height: 3px;
  position: absolute;
  border-radius: 5px;
  bottom: 27px;
  opacity: 0.5;
}

.progress {
  height: 100%;
  background-color: var(--button-color);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: progressBar 10s linear forwards;
  border-radius: 5px;
}

@keyframes progressBar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slide {
  display: none;
  text-align: center;
  border-radius: 10px;
}

.active {
  display: block;
}

.slide h2 {
  font-size: x-large;
  color: #1b3556;
}

.navigation {
  text-align: center;
  margin-top: 5px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: var(--dot);
  border-radius: 50%;
  display: inline-block;
}

.active-dot {
  background-color: var(--button-color);
}




/* video -----------------------------------------------------------------------------------------------------------------------------------*/

.div1 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 5px;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px;
  box-sizing: border-box;
}

.div1 iframe {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}


/* serviços -------------------------------------------------------------------------------------------------------------*/

.servicos {
  width: calc(100% - 20px);
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;

}

.servicos_topicos {
  gap: 10px;
  display: flex;
  gap: 20px;
}

.servicos_topicos h3 {
  margin-bottom: -15px;
  color: var(--texto);
}

.servicos_topicos p {
  color: var(--texto);
}

.servicos_topicos .topicos {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.servicos_topicos img {
  height: 120px;
  filter: var(--icon_filter);
}



@media (max-width: 690px) {
  header {
    padding: 10px;
  }

  header img {
    height: calc(100dvh - 230px);
  }

}


@media (max-width: 500px) {


  .servicos_topicos img {
    height: 80px;
    width: 120px;
  }

  .servicos_topicos {
    flex-direction: column;
  }

  .servicos_topicos .topicos {
    flex-direction: row;
    text-align: left;
  }

  .servicos_topicos .topicos div {
    flex: 1;
  }

  .servicos {
    display: flex;
    justify-content: center;

  }

}

/* main -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

main {
  border-radius: 5px;
  background-color: var(--maincor);
  max-width: 1000px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
}

/*sobre mas vou colocar na pagina inicial ---------------------------------------------------------------------------------------------------------------- */


.texto {
  padding: 0 10px;

}

.horario-data-lugar {
  border: 1px solid #45b7e5;
}

.texto h1 {
  color: var(--titulo_cor);
  line-height: 38px;
}



main p {
  text-indent: 20px;
}

main p,
main li {
  color: var(--texto_cinzaclaro);
  font-size: 18px;
  line-height: 30px;
}


.servicos p {
  color: var(--texto_cinzaclaro);
}


.texto button:last-child {

  margin-bottom: 0px;

}

.texto button::-moz-focus-inner {
  border: 0;
}

.texto button:focus {
  color: white;
  background-color: #45b7e5;
  border: 1px solid #45b7e5;

}

main a {
  color: var(--button-color);
  text-decoration: none;
}


.textofinal {
  text-align: center;
  margin: 10px;
  margin-top: 20px;

}

.azulclaro {
  color: var(--button-color);
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*Topicos*/
.grid-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
  margin: 0 auto;
  border: 1px solid var(--button-color);
}

.grid-item {
  display: block;
  align-items: flex-start;
  padding: 10px;
  margin: 0 auto;
}

.icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  padding: 10px;
}


.grid-item:nth-child(2) .icon {
  filter: var(--icon_azulescuro);
}

.grid-item:nth-child(3) .icon {
  filter: var(--icon_azulescuro);
}


.contentdogrid h3 {
  margin: 0;
  margin-bottom: 10px;
  color: var(--texto);
}

.contentdogrid p {
  margin: 0;
}




@media (max-width: 960px) {

  .grid-container {
    grid-template-columns: 1fr;
  }

}




/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/


.containerinfo {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  gap: 10px;
  margin-bottom: 10px;
}

.caixainfo {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.menosmargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.texto-cima,
.texto-baixo {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;

}

.texto-cima {
  background-color: var(--maincor);
  color: var(--texto);
  border-radius: 5px;
  border-radius: 5px 5px 0 0;
  font-weight: 600;
  font-size: larger;
  box-shadow: inset 0 0 0 1px var(--background-color);
}

.texto-baixo {
  color: var(--texto);
  border-radius: 5px;
  background-color: var(--background-color);
  border-radius: 0 0 5px 5px;
  font-weight: 900;
  font-size: larger;
  text-transform: uppercase;
}

.mapa {
  padding: 10px 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--button-color);
  color: var(--main-color);
  margin-bottom: 25px;
  transition: all 0.3s;
}

.mapa:hover {
  background-color: var(--maincor);
  color: var(--texto);
  box-shadow: inset 0 0 0 1px var(--button-color_oposto);

}


@media screen and (max-width: 768px) {
  .containerinfo {
    flex-wrap: wrap;
  }
}

/* cookies ---------------------------------------------------------------------------------------------------------------------------------------------------------  */


.wrapper {
  position: fixed;
  bottom: 20px;
  left: -570px;
  max-width: 345px;
  width: 100%;
  background: var(--main-color);
  border-radius: 10px;
  padding: 20px;
  transition: left 0.3s ease;
  border: 1px solid var(--cinza);
}

.wrapper.show {
  left: 20px;

}

.wrapper .lgpd-titulo {
  display: flex;
  align-items: center;
  column-gap: 15px;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: -10px;
}

.lgpd-titulo i {
  color: var(--button-color);
  font-size: 32px;
}

.lgpd-titulo h2 {
  color: var(--button-color);
  font-weight: 500;
}



.wrapper .data p {
  color: var(--texto_cinzaclaro);
  font-size: 16px;
  line-height: 25px;
  text-indent: 10px;
  text-align: justify;
}

.data p a {
  color: #45B7e5;
  text-decoration: none;
}

.data p a:hover {
  text-decoration: underline;
}

.wrapper .buttons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons .button {
  border: none;
  color: var(--background-color);

  border-radius: 5px;
  background: #45B7e5;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ease;
  font-weight: 600;
  padding: 8px 15px;
  border: 1px solid #45B7e5;
  font-size: medium;
}

.buttons #acceptBtn:hover {
  background-color: var(--main-color);
  border: 1px solid var(--button-color);
  color: var(--texto);
}
