/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
  width: 12px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.219);
  border: 2px solid white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
  background-color: #033c82;
  overflow-x: hidden;
  box-sizing: border-box;
}

header {
  background-color: white;
  width: 100%;

}

.header {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 60px 20px 80px 20px;
  background-color: white;
}

header img {
  max-width: 400px;
}

main {
  display: flex;
  justify-self: center;
  margin-right: 10px;
  margin-left: 10px;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  max-width: 960px;
  box-sizing: border-box;
  margin-top: -10px;
  padding: 20px;
  background-color: white;
  border: 2px solid #033c82;
  border-radius: 10px;
}

.cta {
  font-size: x-large;
  text-align: center;
  font-style: italic;
  margin-top: -40px;
  background-color: aliceblue;
  border: 2px solid #2AC4F3;
  border-radius: 5px;
  padding: 5px 20px;
}

.mes {
  font-size: xx-large;
  font-weight: 800;
  margin-top: 25px;
}

.subtitulo {

  padding: 6px 0 20px 0;
  color: #044488;
  font-weight: bold;
  font-size: x-large;
}

.local {
  text-decoration: none;
  color: white;
  font-size: large;
  background-color: #2AC4F3;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #2AC4F3;
  transition: all 0.3s;
}

.local:hover {
  border: 2px solid #2AC4F3;
  background-color: white;
  color: black;
}

.local i {
  font-size: medium;
  color: #033c82;
  margin-right: 2px;

}

.direita p {
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;

}

.containerdeicones img {
  max-width: 100px;
  width: 100%;
}

.containerdeicones {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 700px;
  width: 100%;
}

.containerdeicones div {
  max-width: 175px;
  width: 100%;
}

.section {
  text-align: center;
  margin-bottom: 40px;

}

.section h2 {
  display: flex;

  justify-self: center;
  border-bottom: 2px solid #eaf8fa;
  width: fit-content;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

@media (max-width: 850px) {

  .direita {
    margin-top: -40px;
  }

  .header {
    flex-direction: column;
  }

  .mes {
    margin-top: 0px;
  }

  .main {
    margin-top: -20px;
  }
}

@media (max-width: 450px) {
  .local {

    font-size: 0.9rem;

  }

}




/* realização ---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.realizacao {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 80px 0;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.titulo_realizacao {
  text-align: center;
  padding: 10px;
  color: white;
  border-bottom: 1px solid #033c82;
  width: fit-content;
}


.logo-container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  position: relative;
  padding: 10px 20px;
}

.logo-item {
  position: relative;
  border-radius: 5px;
  margin-bottom: -6px;
}


/*-------------------------------------------------------*/

.btn2 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: #033c82;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Source Sans 3', sans-serif;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  z-index: 999;
  box-shadow: inset 0 0 0 2px #f9e20f;
  background-color: #f9e20f;
  color: #242527;
}

.btn2:hover {
  box-shadow: inset 0 0 0 2px #f9e20f;
  color: #242527;
  background-color: white;
}

.margin-bottom {
  margin-top: 20px;
}

.bairros {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.bairro {
  background-color: rgb(255, 251, 240);
  padding: 10px 20px;
  border-radius: 5px;
  flex: 1;
  white-space: nowrap;
  text-align: center;
  min-width: 200px;
  border: 2px solid #f9e20f;
}