@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Cores */
    --cordoeventoatual: #E93F3C;

    /* Tipografia */
    --primary-font: 'Source Sans 3', sans-serif;
    --h1-title-font-size: 26px;
    --caixatexto: uppercase;

    /* Medidas */
    --container-width: 960px;
    --margin-20: 20px;
    --margin-10: 10px;
    --margin-5: 5px;
    --border-50: 50px;
    --border-10: 10px;
    --border-5: 5px;

    /* Transições */
    --transition-speed: 0.3s;
}

/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 12px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.219);
    border: 2px solid white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

h2 {
    font-size: 32px;
    font-weight: 800;
    margin-top: 80px;
    padding-left: 20px;
}

h3 {
    font-size: 26px;
    font-weight: 700;
}

header {
    position: absolute;
    width: 100%;
    height: 545px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.849);
    z-index: -1;
}

header .carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0.3;
}

header .carousel img {
    object-fit: cover;
    height: 545px;

}

main {
    padding: 20px;
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    display: block;
}

.logosemana {
    padding: 100px 0;
    max-width: 500px;
    display: flex;
    justify-self: center;
}

.sectionkek {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f3f8;
    border-radius: 5px;
}

.dataetitulo {
    display: flex;
    align-items: center;
}

.eventoatual {
    border-radius: 5px;
    position: relative;
    background-color: var(--cordoeventoatual);
    width: 100%;
    padding: 20px;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.qualsemana img {
    max-width: 334px;
    width: 100%;
}

.titulo {
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--texto-preto);
}

.eventoatualtitulo {
    margin-bottom: -15px;
    font-size: large;
    font-weight: bold;
    color: #f9e20f;
}

.qualsemana {
    font-size: 45px;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    width: 100%;
    line-height: 1;
}

.descricao {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 100%;
    min-height: 100px;
    height: fit-content;
    padding: 20px;
    display: flex;
}

@keyframes pulseArrow {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

.seta {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 8px solid #f9e20f;
    display: inline-block;
    margin-left: 5px;
    animation: pulseArrow 1.5s infinite;
}

.texto-descricao {
    text-align: left;
    text-indent: 15px;
}

.data {
    display: flex;
    width: fit-content;
    flex-direction: column;
    padding: 10px 20px 10px 5px;
    border-right: 0;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 5px 0;
    margin-right: 20px;
    border-bottom: 2px dotted #f9e20f;
    border-right: 2px dotted #f9e20f;
}

.numero {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.mesenumero {
    align-items: center;
}

.data i {
    font-size: 16px;
    margin-right: 5px;
    color: #f9e20f;
}

.mês {
    margin-top: -10px;
    padding-bottom: 5px;
    color: white;
}

.eventospassados {
    display: flex;
    justify-content: space-between;
    background-color: white;
    gap: 10px;
    margin-top: 20px;

}

.mini-container {
    border-radius: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-align: center;
    padding:  50px 20px;
    
}

.mini-container h1 {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    flex: 1;
    display: flex;
        align-items: center;
}

.btn {
    
    color: var(--bg-dark);
    border: none;
    padding: 8px 16px;
    background-color: white;
    border-radius: var(--border-5);
    cursor: pointer;
    transition: all 0.3s;
    font-family: var(--primary-font);
    text-transform: var(--caixatexto);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    
    bottom: 20px;
}

.btn:hover {
    color: white;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #f9e20f;
}

.btn2 {
    color: var(--bg-dark);
    border: none;
    padding: 8px 16px;
    background-color: #f9e20f;
    border-radius: var(--border-5);
    cursor: pointer;
    transition: all 0.3s;
    font-family: var(--primary-font);
    text-transform: var(--caixatexto);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.btn2:hover {
    color: white;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #f9e20f;
    text-decoration: none;
}

.umevento {
    background-color:#79a744 ;
}

.doisevento {
    background-color: #205c7e;
}

.tresevento {
    background-color: #e53888;
}

#headerCarousel .carousel-item {
    opacity: 1;
    transition-duration: 1s;
}

#headerCarousel .carousel-item.active {
    opacity: 1;
}



.slideshow {
    margin-bottom: 20px;
    position: relative;
    height: 420px;
    width: 100%;
    margin-top: 20px;

}

.slideshow-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Esconde o excesso de imagem, se houver */

}

.slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}


.arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%206%2016%22%20width%3D%226%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m5%201-4%207%204%207%22%20fill%3D%22none%22%20stroke-width%3D%22.8%22%20opacity%3D%22.3%22%20stroke%3D%22%23000%22%20stroke-linecap%3D%22square%22%2F%3E%3Cpath%20d%3D%22m5%201-4%207%204%207%22%20fill%3D%22none%22%20stroke-width%3D%22.5%22%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22square%22%2F%3E%3C%2Fsvg%3E%0A") no-repeat center/20px;
}

.arrow-next {
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.progress {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    color: var(--texto-preto);
    font-family: var(--primary-font);
    font-size: 14px;
    background-color: #ffffff;
}

.slideshow-item.visible {
    opacity: 1;
    z-index: 2;
}

.veterinaria {
    color: #3eb288;
    font-weight: bold;
}

.saudeum {
    color: #45b7e5;
    font-weight: bold;
}

.saudedois {
    color: #199eae;
    font-weight: bold;
}

.exatas {
    color: #173e70;
    font-weight: bold;
}

.direito {
    color: #E93F3C;
    font-weight: bold;
}

.educaçao {
    color: #5d378d;
    font-weight: bold;
}

.comunicacao {
    color: #e53888;
    font-weight: bold;
}

.gestao {
    color: #205c7e;
    font-weight: bold;
}

.tec {
    color: #79a744;
    font-weight: bold;
}

/* heade5r new --------------------------------------------------------------------------------------------------------------------*/

.parent {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto;
    /* Permite que a linha se ajuste ao conteúdo */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 10px;
}

.div2 {
    grid-area: 1/ 1 / 2 / 3;
}

.div3 {
    grid-area: 1 / 2 / 2 / 5;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 10px;
    border: 2px dotted #f9e20f;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0 5px 0 0;
    color: white;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.eventoatualtitulo2 {
    margin-bottom: 0;
    font-size: large;
    font-weight: bold;
    color: #f9e20f;
}

.dias {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: -10px;
}

.div4 .dias i {
    display: none;
}

.mes {
    text-align: left;
}

.mes i {
    color: #f9e20f;
}

.div3 .dias {
    font-size: large;
    font-weight: bold;
    color: white;
}

.div3 .mes i {
    display: none;
}

.div3 .mes {
    font-size: large;
    font-weight: bold;
    color: #f9e20f;
    margin-left: 4px;
}


@media (max-width: 600px) {
    .parent {
        grid-template-columns: 126px auto auto auto;
    }

    .div4 {
        border: none;
    }

    .div5 {
        grid-area: 2 / 1 / 3 / 3;
        padding-left: 0;
        padding-top: 10px;
    }

    .qualsemana {
        font-size: 2.2rem;

    }
}



@media (max-width: 500px) {

    .div3 {
        grid-area: 3 / 1 / 4 / 3;
    }

    .div3 {
        margin-top: 10px;
        justify-self: flex-start;
    }
}

@media (max-width: 700px) {
    .dataetitulo {
        flex-direction: column;
        align-items: flex-start;
    }

    .eventoatualtitulo {
        margin-bottom: -10px;
    }

    .logosemana {
        max-width: 300px;
    }

    .eventospassados {
        flex-direction: column;
        align-items: center;
        height: 800px;

    }

    .mini-container {
        width: 100%;

    }
}

/*  footer ----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
footer .segundo ul{
    margin-top: revert !important;
}

footer .quatro .footer-c{
    padding-top: 22px;
}

footer .créditos_eu a {
    margin-top: -26px;
}

@media (max-width: 900px){
    footer .créditos_eu {
        margin-top: -5px !important;
    }
    }    
    
    
    /*tabs ---------------------------------------------------------------------------------------------------------------------------*/

    
    /* Core styles/functionality */
    .tab input {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
      .tab__content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.35s ease-out;
      }

      /* Visual styles */
      .accordion {
        margin-top: 10px;
        color: #f2f3f8;
        border: 1px solid;
        border-radius: 0.5rem;
        overflow: hidden;
      }

      .tab__label,
      .tab__close {
        display: flex;
        
        background: #f2f3f8;
        cursor: pointer;
        margin-bottom: 0;

      }

      .tab__label h3{
        padding: 10px;
        padding-left: 17px;
        padding-bottom: 5px;
      }
      .tab__label {
        justify-content: space-between;
   
        margin-bottom: 0;
        color: black;
      }
      .tab__label::after {
        padding: 15px;
        padding-right: 30px;
        font-family: FontAwesome;
        content: "\f0d7";
        width: 5px;
        height: 5px;
        text-align: center;
        transition: all 0.35s;
      }

      .tab__content p {
        margin: 0;
        padding: 1rem;
      }
      .tab__close {
        justify-content: center;
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
        background: #ebecf1;
        color: black;
    }
      .accordion--radio {
        --theme: var(--secondary);
      }
      
      /* Arrow animation */
      .tab input:not(:checked) + .tab__label:hover::after {
        animation: bounce .5s infinite;
      }
      @keyframes bounce {
        25% {
            transform: translateY(-0.25rem); /* Mover um pouco para cima */
        }
        75% {
            transform: translateY(0.25rem); /* Mover um pouco para baixo */
        }
    }


      .content a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: black;
        background-color: white;
        margin-top: 1px;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid #f2f3f8;
    }
    
    .content a:hover {
        color: #45b7e5;
    }
        
    .content a:last-child {
        border-bottom: none;
    }