@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg: #fff;
}

/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 12px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: var(--bg);
    border-radius: 5px;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.219);
    border: 2px solid var(--bg);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    background-color: var(--bg);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 100px;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    padding-top: 120px;
    margin: 0 auto;
    max-width: 960px;
}

header img{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.info-interfam{
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 45px;
    text-align: center;
}

main{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.category-card{
   min-width: 200px;
   max-width: 300px;
   text-align: center;
}

.category-card h3{
    font-size: 1.5em;
    padding: 5px;
    background-color: #0e4fbe;
    color: white;
    border-radius:  10px 0 0  0;
    border:2px solid #0e4fbe;
    border-bottom: none;
}

.category-card p{
    margin-top: -24px;
    padding: 15px 10px;
    border-radius: 0  0 10px 0;
  
    border:2px solid #aad8eb;
    border-top: none;
}

.category-card img{
    max-width: 100px;
}

/* Estilos para seção de Programação - Formato de cronograma de evento */
.schedule {
    max-width: 800px;
    margin: 40px auto 0;
    position: relative;
    padding: 0 20px;
}

.schedule:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background: #aad8eb;
    z-index: 0;
}

.schedule-item {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    border:2px solid #0e4fbe;
    width: calc(50% - 20px);
    transition:  border 0.3s ease;
}

.schedule-item:last-child {
    margin-bottom: 0px;
}

.schedule-item:hover {
    border:2px solid #45b7e5;
}

.schedule-item:nth-child(odd) {
    float: left;
    clear: both;
}

.schedule-item:nth-child(even) {
    float: right;
    clear: both;
}

.schedule-item:nth-child(odd):before {
    right: -48px;
}

.schedule-item:nth-child(even):before {
    left: -48px;
}

.schedule-date {
    display: inline-block;
    padding: 5px 15px;
    background: #0e4fbe;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 0px;
    font-size: 0.9em;
}

.schedule-item p {
    margin: 10px 0 0;
    color: #333;
    line-height: 1.5;
    font-size: 1.05em;
}

.schedule-item p strong {
    color: #333;
    font-weight: 600;
}

.schedule-time {
    display: block;
    font-weight: 600;
    color: #e5457d;
    margin: 10px 0 5px;
    font-size: 1.1em;
}

/* Responsividade para telas pequenas */
@media screen and (max-width: 767px) {
    .schedule:before {
        left: 30px;
    }
    
    .schedule-item {
        width: calc(100% - 30px);
        float: right;
        clear: both;
    }
    
    .schedule-item:nth-child(odd) {
        float: right;
    }

    header{
       flex-direction: column;
    }
}

/* Limpa o float após os itens da programação */
.schedule:after {
    content: "";
    display: table;
    clear: both;
}