@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --cor-principal: #233a7e;
}

/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 12px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #f2f3f8;
    border-radius: 5px;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.219);
    border: 2px solid #f2f3f8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #f2f3f8;
    overflow-x: hidden;
}

main {
    max-width: 960px;
    background-color: white;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    margin-top: -20px;
    padding: 20px;
    z-index: 2;
}

h2 {
    text-align: center;
}

.pcentro {
    text-align: center;
}

/*  HEADER ----------------------------------------------------------------------------------------------- */

header {
    background-color: var(--cor-principal);
    height: 100dvh;
    padding: 0 20px;
}

.headertamanho {
    display: flex;
    margin: 0 auto;
    height: calc(100dvh - 40px);
    justify-content: center;
    align-items: center;
}

.header_div{
    display: flex;
    width: 960px;

}

.ladodireito {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

}

#logoQuadrado {
    max-width: 400px;
}

#logoRetangular {
    max-width: 400px;
    width: 100%;
}

.ladoesquerdo {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.ladoesquerdo a {
    text-decoration: none;
    color: black;
}

.ladoesquerdo i {
    font-size: small;
    margin-right: 2px;
}

.flex-item:nth-child(3):hover {
    color: white;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px white;
    cursor: pointer;
}

.subtitulo {
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 450px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: x-large;
    
  }
  
  .subtitulo1{
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 450px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: x-large;
  }
  
.inscrevase {
    background-color: #f9e20f;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    color: #1b3556;
}

.inscrevase a {
    text-decoration: none;
    transition: all 0.3s;

}

.inscrevase:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px white;
    color: white;

}

.inscrevase2 {
    box-shadow: inset 0 0 0 2px white;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    color: white !important;
}

.inscrevase2 a {
    text-decoration: none;
    transition: all 0.3s;

}

.inscrevase2:hover {
    background-color: #f9e20f;
    box-shadow: inset 0 0 0 2px #f9e20f;
    color: black !important;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
}

.flex-item {
    background-color: white;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    flex: 1 1 200px;
    transition: all 0.3s;

}

/* curculos ---------------------------------------------------------------------------------------------------- */

.area {
    width: 100%;
    height: 100dvh;

    z-index: 1;
}

.circles {
    position: absolute;
    top: -20px;
    left: 0;
    width: calc(100% - 40px);
    height: calc(100dvh + 4px);
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #192a5f;
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(10) {
    left: 6%;
    width: 120px;
    height: 120px;
    animation-delay: 6s;
    animation-duration: 15s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.ladomeio {
    display: none;
}


@media (max-width: 960px) {



    .header_div{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .ladodireito {
        width: 100%;
        height: 100%;
        align-items: last baseline;
        padding-bottom: 20px;
        flex: 1;
    }

    .ladodireito img {
        transform: scale(0.9);
    }

    .ladoesquerdo {
        width: 100%;
        height: 100%;
        flex: 1;
        justify-content: flex-start;
    }

    .ladomeio {
        display: flex;
        width: 100%;
        height: 5%;
        justify-content: center;
        align-items: center;
        z-index: 5;

    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .subtitulo {
        display: none;
    }



}

@media (max-width: 500px) {

    .scroll-button {
        margin: 0 auto;

    }

    .logoprovadebolsasmininav {
        display: none !important;
    }
}

/* GRAPH ANIMATION BOLSAS --------------------------------------------------------------------------------------- */

/* Bar Graph Horizontal */
.bar-graph .year {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
    opacity: 0;
}

.bar-graph-horizontal {
    width: 100%;
}

.bar-graph-horizontal .year {
    float: left;
    margin-top: 18px;
    width: 100%;
    margin-bottom: 5px;
}

.bar-graph-horizontal .bar {
    border-radius: 10px;
    height: 55px;
    float: left;
    overflow: hidden;
    position: relative;
    width: 0;
}

.bar-graph-one .bar::after {
    color: #fff;
    content: attr(data-percentage);
    font-weight: 700;
    position: absolute;
    right: 15px;
    top: 17px;
}

.bar-one,
.bar-two,
.bar-three,
.bar-four {
    display: flex;
    flex-direction: column;
}

/* Classe para animar o texto */
.animate-text {
    -webkit-animation: fade-in-text 2.2s 0.1s forwards;
    -moz-animation: fade-in-text 2.2s 0.1s forwards;
    animation: fade-in-text 2.2s 0.1s forwards;
}

/* Classes para animar as barras */
.animate-bar-1 {
    background-color: #f9e20f;
    -webkit-animation: show-bar-one 1.2s 0.1s forwards;
    -moz-animation: show-bar-one 1.2s 0.1s forwards;
    animation: show-bar-one 1.2s 0.1s forwards;
}

.animate-bar-2 {
    background-color: #45b7e5;
    -webkit-animation: show-bar-two 1.2s 0.2s forwards;
    -moz-animation: show-bar-two 1.2s 0.2s forwards;
    animation: show-bar-two 1.2s 0.2s forwards;
}

.animate-bar-3 {
    background-color: var(--cor-principal);
    -webkit-animation: show-bar-three 1.2s 0.3s forwards;
    -moz-animation: show-bar-three 1.2s 0.3s forwards;
    animation: show-bar-three 1.2s 0.3s forwards;
}

.animate-bar-4 {
    background-color: #1b3556;
    -webkit-animation: show-bar-four 1.2s 0.4s forwards;
    -moz-animation: show-bar-four 1.2s 0.4s forwards;
    animation: show-bar-four 1.2s 0.4s forwards;
}


/* Bar Graph Horizontal Animations https://codepen.io/anythinggraphic/pen/LYPeaQV */
@keyframes show-bar-one {
    0% {
        width: 0;
    }

    100% {
        width: 20%;
    }
}

@keyframes show-bar-two {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

@keyframes show-bar-three {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes show-bar-four {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes fade-in-text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.textopequeno {
    font-size: small;
    color: #bbbece;
}

.petramiudas {
    text-align: center;
    margin-top: -20px;
}



@media (max-width: 500px) {


    @keyframes show-bar-one {
        0% {
            width: 0;
        }
    
        100% {
            width: 30% ;
        }
    }
    
}

/* IMG SLIDER ------------------------------------------------------------------------------------------------------------------------*/


@media (max-width: 760px) {
    .progress {
        top: 20px;
        height: fit-content;
    }
}
/* IMG SLIDER ------------------------------------------------------------------------------------------------------------------------*/

.descricaoslideshow {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-right: 20px;
    text-align: center;
}

#headerCarousel .carousel-item {
    opacity: 1;
    transition-duration: 1s;
}

#headerCarousel .carousel-item.active {
    opacity: 1;
}

.slideshow {
    margin-bottom: 20px;
    position: relative;
    height: 420px;
    width: 100%;
    margin-top: 20px;
    padding: 0;
}

.slideshow-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Esconde o excesso de imagem, se houver */

}

.slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}


.arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%206%2016%22%20width%3D%226%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m5%201-4%207%204%207%22%20fill%3D%22none%22%20stroke-width%3D%22.8%22%20opacity%3D%22.3%22%20stroke%3D%22%23000%22%20stroke-linecap%3D%22square%22%2F%3E%3Cpath%20d%3D%22m5%201-4%207%204%207%22%20fill%3D%22none%22%20stroke-width%3D%22.5%22%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22square%22%2F%3E%3C%2Fsvg%3E%0A") no-repeat center/20px;
}

.arrow-next {
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.progress {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 5px;
}

.slideshow-item.visible {
    opacity: 1;
    z-index: 2;
}




.chamaratenção {
    color: #086AB4;
}

.azulclaro {
    color: #45b7e5;
}


.button-background {
    top: 0;
    position: fixed;
    background-color: var(--cor-principal);
    width: 100%;
    height: 60px;
    z-index: 9;
    align-items: center;
    justify-content: center;
    display: none;
    padding: 0 20px;
    box-sizing: border-box;
  }

.scroll-button {
    background-color: #f9e20f;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    width: fit-content;
    color: black;
}

.scroll-button:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px white;
    color: white;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-width);
    margin: auto;
    z-index: 9;
    height: 80px;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.logoprovadebolsasmininav {
    height: 30px;
    width: auto;
    display: block;

}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f3f8;
}

th:first-child {
    border-radius: 5px 0 0 0;
}

th:last-child {
    border-radius: 0 5px 0 0;
}

tr:nth-child(2) {
    border-bottom: 1px solid #f9e20f;
}

tr:nth-child(3) {
    border-bottom: 1px solid #45b7e5;
}

tr:nth-child(4) {
    border-bottom: 1px solid var(--cor-principal);
}

tr:nth-child(5) {
    border-bottom: 1px solid #1b3556;
}

.bolsa-header {
    width: 50%;
}

.info-header {
    width: 50%;
}

.infoprazo {
    background-color: #45b7e5;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.infoonline {
    background-color: var(--cor-principal);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.infoprovaacabou {
    background-color: #1b3556;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;

}

.margendaora {
    margin-top: 50px;
    margin-bottom: 30px;

}

.doisbotoes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#countdown {
    font-size: 2rem;
    margin: 20px;
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background-image: linear-gradient(to right, #0965dd, #233a7e);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;


}

.containeraviso {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    width: 100%;
}

.aviso {
    flex: auto;
    padding: 40px;
    background-color: #f2f3f8;
    border-radius: 10px;
    text-align: center;
    
}

.temquequermargin {
    margin-top: 50px;
}



.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-width);
    margin: auto;
    z-index: 9;
    height: 80px;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: larger;
    background-color: #25d366;
    color: #fff;
    padding: 9px 15px;
    border-radius: 50px;
    text-decoration: none;
    z-index: 9999;
 }


 .azulclaro{
    color: white;
    background-color: #45b7e5;
    text-decoration: none;
    padding: 0 5px;
    border-radius: 2px;
 }