@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --azul-claro: #45b7e5;
  --margin-10: 10px;
  --margin-20: 20px;
  --azul-principal: #1b3556;
  --container-width: 960px;
}

/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
  width: 12px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.219);
  border: 2px solid white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
  background-color: white;
  overflow-x: hidden;
}

header {
  max-width: var(--container-width);
  background-image: url('images/fundoamarelo.png');
  background-repeat: repeat;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  background-color: #f9e20f;
  margin-bottom: 40px;
  border-radius: 0 0 10px 10px;
}

header img {
  object-fit: cover;
  border-radius: 10px;
}

.logocolação{
  margin-bottom: 20px;
}

.titulocolação {
  margin-bottom: 10px;
}

.titulocolação h1,
.titulocolação h3 {
  max-width: var(--container-width);
  margin: 0 auto;
  text-align: center;
}

.titulocolação h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 10px;
  margin-right: 10px;

  padding: 0;
}

.titulocolação h3 {
  font-size: 18px;
  color: #45b7e5;
  margin-top: -5px;
  font-weight: 600;
}

.title-container {
  display: flex;
  /* Use flexbox para alinhar os itens */
  align-items: center;
  /* Centraliza verticalmente */
  color: black;
}

.title-container::before,
.title-container::after {
  content: '';
  /* Conteúdo vazio para os pseudo-elementos */
  flex: 1;
  /* Faz com que cada linha ocupe o espaço disponível igualmente */
  border-bottom: 1px solid #f9e20f;
  /* Define a linha como uma borda inferior azul */
}

section {
  margin: 0 auto;
  max-width: var(--container-width);
  padding-left: 20px;
  padding-right: 20px;
}

.capa {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 80px;
}

.capa p {
  margin-top: -15px;
  margin-bottom: 20px;
}

.obrigatorioem {
  background-color: white;
  border-radius: 50px;
  padding: 2px 10px;
  margin-left: -10px;
}

/* Abas Sobre a FAM e Sobre o curso*/
.tab {
  display: flex;
  overflow: hidden;
  max-width: var(--container-width);
  margin: auto;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
}

/* Estilo dos botões das abas */
.tab button {
  flex-grow: 1;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 0;
  transition: all 0.3s;
  text-align: center;
  box-sizing: border-box;
  font-size: larger;
  font-weight: 700;
  background-color: var(--azul-claro);
  color: white;
  margin-bottom: var(--margin-10);
  font-size: 18px;
}

/* Altera a cor de fundo dos botões ao passar o mouse */
.tab button:hover {
  background-color: var(--azul-principal);
}

.tab button.active:hover {
  color: var(--azul-claro);
}

/* Ativa a aba com cor de fundo diferente */
.tab button.active {
  background-color: #f2f3f8;
  color: #242527;
}

/* Estilo do conteúdo das abas */
.tabcontent {
  display: none;
  padding: 0 var(--margin-20);
  border-top: none;
  min-height: 200px;
  max-width: var(--container-width);
  margin: auto;
  box-sizing: border-box;
  background-color: #f2f3f8;
  border-radius: 0 0 5px 5px;
  overflow-y: auto;
  text-align: left;
  color: #242527;
  position: relative;
}

.scroll-container {
  position: relative;
  max-width: var(--container-width);
  margin: 0 auto;
  background-color: #f2f3f8;
  border-radius: 5px;
}

.scroll-container ul{
  padding-left: 20px;
}

.tabcontent::-webkit-scrollbar {
  width: 10px;
}

.tabcontent::-webkit-scrollbar-track {
  background-color: #f2f3f8;
  border-radius: 50px;
}

.tabcontent::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.253);
  border: 3px solid #f2f3f8;
  border-radius: 50px;
}

.slide-container {
  margin-top: var(--margin-20);
  max-width: var(--container-width);
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
}

.textomenortab {
  font-size: small;
}

@media (max-width: 950px) {
  header {
    flex-direction: column-reverse;
    margin-left: 10px;
    margin-right: 10px;
  }

  .capa {
    padding-left: 0;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
  }

  header img {
    max-width: 380px;
    margin: 0 auto;
    margin-bottom: -20px;
    margin-top: 20px;
  }



}

@media (max-width: 500px) {
  .capa {
    transform: scale(0.8);
  }

  header img {
    width: 90%;
  }
}


.indentado {
  text-indent: 20px;
}

/* IMG SLIDER ------------------------------------------------------------------------------------------------------------------------*/

#headerCarousel .carousel-item {
  opacity: 1;
  transition-duration: 1s;
}

#headerCarousel .carousel-item.active {
  opacity: 1;
}

.slideshow {
  margin-bottom: 20px;
  position: relative;
  height: 420px;
  width: calc(100% - 40px);
  margin-top: 20px;
  padding: 0;
}

.slideshow-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Esconde o excesso de imagem, se houver */

}

.slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}


.arrow {
  position: absolute;
  top: 0;
  display: block;
  width: 50px;
  height: 100%;
  background: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%206%2016%22%20width%3D%226%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m5%201-4%207%204%207%22%20fill%3D%22none%22%20stroke-width%3D%22.8%22%20opacity%3D%22.3%22%20stroke%3D%22%23000%22%20stroke-linecap%3D%22square%22%2F%3E%3Cpath%20d%3D%22m5%201-4%207%204%207%22%20fill%3D%22none%22%20stroke-width%3D%22.5%22%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22square%22%2F%3E%3C%2Fsvg%3E%0A") no-repeat center/20px;
}

.arrow-next {
  right: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.progress {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 5px;
}

.slideshow-item.visible {
  opacity: 1;
  z-index: 2;
}


.chamaratenção {
  color: #e53888;
}

.azulclaro {
  color: #45b7e5;
}



/* 3 botoes --------------------------------------------------------*/
.button-container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.button-container a{
  text-decoration: none;
}
.button-containercalendario {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: var(--margin-10);
}

.button-containercalendario a {
  text-decoration: none;
}

.um {
  color: white;
  background-color: #5d378d;
}

.um:hover {
  color: #242527;
  background-color: white;
  box-shadow: inset 0 0 0 2px #5d378d;
}

.lista_youtube{
  background-color: #45b7e5;
  color: white;
}

.lista_youtube:hover{
  color: #242527;
  background-color: white;
  box-shadow: inset 0 0 0 2px #45b7e5;
}

.lista_azul{
  background-color: #f9e20f;
  color: #242527;
}

.lista_azul:hover{
  color: #242527;
  background-color: white;
  box-shadow: inset 0 0 0 2px #45b7e5;
}

.dois {
  background-color: var(--azul-principal);
  color: white;
}

.três {
  margin-top: var(--margin-10);
  background-color: #e53888;
  color: white;
}

.três:hover {
  color: #242527;
  background-color: white;
  box-shadow: inset 0 0 0 2px #e53888;
}

.dois:hover {
  color: #242527;
  background-color: white;
  box-shadow: inset 0 0 0 2px var(--azul-principal);
}

.responsive-button {
  border: none;
  padding: var(--margin-20);
  cursor: pointer;
  transition: all 0.3s;
  font-family: var(--primary-font);
  font-weight: 400;
  border-radius: 5px;
  flex: 1 0 auto;
  text-align: center;
}

.responsive-button-lista {
  border: none;
  padding: var(--margin-10);
  cursor: pointer;
  transition: all 0.3s;
  font-family: var(--primary-font);
  font-weight: 400;
  border-radius: 5px;
  flex: 1;
  text-align: center;
}

/* CONVITES ------------------------------------------------------------------------------ */

.conviteschique{
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px #f9e20f;
}

.conviteschique p{
  padding: 10px;
  text-align: center;
  margin-top: -15px;
}

.tituloconvite h3{
  background-color: #f9e20f;
  text-align: center;
  padding: 8px;
  border-radius: 10px 10px 0 0;
}