/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 12px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #eaf8fa;
    border-radius: 5px;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.219);
    border: 2px solid #eaf8fa;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #eaf8fa;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    background-color: white;
    width: 100%;
    border-bottom: 5px solid #eaf8fa;
}

.header {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 60px 20px 80px 20px;
    background-color: white;
}

header img {
    max-width: 350px;
}

main {
    display: flex;
    justify-self: center;
    margin-right: 10px;
    margin-left: 10px;
}

.main {
    width: 100%;
    max-width: 960px;
    box-sizing: border-box;
    margin-top: -20px;
    padding: 20px;
    background-color: white;
    border: 5px solid #eaf8fa;
    border-radius: 10px;
}

.mes {
    font-size: xx-large;
    font-weight: 800;
    margin-top: 50px;
}

.horarios {
    font-style: italic;
    padding: 6px 0 20px 0;
    color: #34BA90;
    font-weight: bold;
    font-size: large;
}

.local {
    text-decoration: none;
    color: black;
    font-size: large;
    background-color: #eaf8fa;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #eaf8fa;
    transition: all 0.3s;
}

.local:hover {
    border: 2px solid #eaf8fa;
    background-color: white;
}

.local i {
    font-size: medium;
    color: #6bb9c4;
    margin-right: 2px;
}

.direita p {
    max-width: 300px;
    padding: 5px 10px;
    border-radius: 10px;
}

.containerdeicones img {
    max-width: 100px;
    width: 100%;
}

.containerdeicones {
    display: flex;
    justify-content: center;
   margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 700px;
width: 100%;
}

.containerdeicones div {
    max-width: 175px;
    width: 100%;
}

.section {
    text-align: center;
    margin-bottom: 40px;
    
}

.section h2 {
    display: flex;

    justify-self: center;
    border-bottom: 2px solid #eaf8fa;
    width: fit-content;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

@media (max-width: 850px) {

    .header {
        flex-direction: column;
    }

    .mes {
        margin-top: 0px;
    }

    .main {
        margin-top: -50px;
    }
}

@media (max-width: 450px) {
    .local {
     
        font-size: 0.9rem;
     
    }
  
}



