@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    padding: 0;
}


/* NAVBAR /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.no-scroll {
    overflow: hidden;
}

.navbar_main .navbar-custom {
    position: relative;
    z-index: 99;
    width: 100dvw;
    height: 90px;
    background-color: #1b3556;
    display: flex;
}

.navbar_main .navbar-custom .tamanho {
    max-width: 1130px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.navbar_main .navbar-custom .dropdown a,
.navbar_main .dropdown-custom a,
.navbar_main .navbar-custom .titulo {
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navbar_main .navbar-custom .titulo {
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: medium !important;
}

.navbar_main .navbar-custom .links {
    display: flex;
    gap: 10px;
    padding-right: 20px;
}

.navbar_main .navbar-custom .hoverparadropdown a:hover {
    color: #45b7e5;
    transition: 0.3s;
    background-color: white;
}

.navbar_main .navbar-custom .logo {
    width: 150px;
    height: auto;
    padding-top: 5px;
    padding-left: 20px;
}

.navbar_main .navbar-custom .dropdown {
    position: relative;
    display: flex;
    justify-content: center;
}

.navbar_main .navbar-custom .dropdown-content {
    margin-top: 4px;
    display: none;
    position: absolute;
    background-color: white;
    border: 2px solid #1b3556;
    top: 100%;
    width: fit-content;
    z-index: 3;
    border-radius: 5px;
    padding: 0 5px;
    white-space: nowrap;
}


.navbar_main .navbar-custom .teste {
    display: flex;
    padding: 10px 10px;
}

.navbar_main .navbar-custom .dropdown-content a {
    color: #000;
    padding: 3px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar_main .navbar-custom .dropdown-content a:hover {
    color: #45b7e5;
}

.navbar_main .navbar-custom .dropdown:hover .dropdown-content {
    display: block;
}

.navbar_main .navbar-custom .dropdown-content::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.navbar_main .navbar-custom .hoverparadropdown {
    padding-bottom: 18px;
    padding-top: 18px;
}

.navbar_main .inscrevase {
    display: flex;
    align-self: center;
    padding: 10px 20px !important;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 5px;
    text-decoration: none;
    height: fit-content;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #f9e20f;
    color: #f9e20f;

}

.navbar_main .inscrevase a {
    text-decoration: none;
    transition: all 0.3s;
}

.navbar_main .inscrevase:hover {
    color: #1b3556;
    background-color: #f9e20f;
}

.navbar_main .mobile-inscrevasse {
    display: none;
}

.navbar_main .separar {
    padding-left: 15px;
    border-left: 2px solid #f2f3f8;
    margin-left: 15px;
}

.navbar_main .chamaratenção {
    color: #45b7e5;
}

.navbar_main .navbar-custom_fixed-navbar {
    position: fixed;
}

.navbar_main .navbar-custom {
    top: 0;
}

.navbar_main .menu-toggle-custom {
    display: none;
}

.navbar_main .menu-toggle-custom {
    display: none;
    flex-direction: column;
    width: 70px;
    cursor: pointer;
    transform: scale(0.5);
    margin-right: 0px;
}

.navbar_main .menu-toggle-custom span {
    background: #fff;
    border-radius: 5px;
    height: 7px;
    margin: 7px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navbar_main .menu-toggle-custom span:nth-of-type(1) {
    width: 50%;
}

.navbar_main .menu-toggle-custom span:nth-of-type(2) {
    width: 100%;
}

.navbar_main .menu-toggle-custom span:nth-of-type(3) {
    width: 75%;
}

.navbar_main .menu-toggle-custom input[type="checkbox"] {
    display: none;
}

.navbar_main .menu-toggle-custom input[type="checkbox"]:checked~span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(8px, 0px)
}

.navbar_main .menu-toggle-custom input[type="checkbox"]:checked~span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg)
}

.navbar_main .menu-toggle-custom input[type="checkbox"]:checked~span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(30px, -11px) rotatez(45deg);
}

.navbar_main .mobile-menu-custom {
    position: fixed;
    top: 90px;
    display: none;
    flex-direction: column;
    width: 100%;
    z-index: 99;
    background-color: white;
}

.navbar_main .mobile-menu-custom.open {
    display: flex;
    overflow-y: auto;
    max-height: 60vh;
    border-bottom: 2px solid #1b3556;
}

.navbar_main .mobile-menu-custom a {
    padding: 10px;
    text-decoration: none;
    color: #000;
    background-color: white;
}

/*tabs navbar ------------------------------------------------------------------------------------------------------------------------------------*/

/* Core styles/functionality */
.navbar_main .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.navbar_main .tab__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease-out;
}

/* Visual styles */

.navbar_main .tab__label {
    display: flex;
    border-bottom: #f2f3f8 solid 1px;
    cursor: pointer;
    margin-bottom: 0;
}

.navbar_main .tab__label:last-child {
    border-bottom-color: white;
}

.navbar_main .tab__label h3 {
    padding-left: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.navbar_main .tab__label {
    justify-content: space-between;

    margin-bottom: 0;
    color: black;
}

.navbar_main .tab__label a {
    border-bottom: none;
}

.navbar_main .tab__content p {
    margin: 0;
    padding: 1rem;
}




/* Arrow animation */
.navbar_main .tab input:not(:checked)+.tab__label:hover::after {
    animation: bounce .5s infinite;
}

@keyframes bounce {
    25% {
        transform: translateY(-0.25rem);
        /* Mover um pouco para cima */
    }

    75% {
        transform: translateY(0.25rem);
        /* Mover um pouco para baixo */
    }
}

.navbar_main .tab__label::after {
    padding: 15px;
    padding-right: 30px;
    font-family: FontAwesome;
    color: #45b7e5;
    content: "\f0d7";
    width: 5px;
    height: 5px;
    text-align: center;
    transition: all 0.35s;
}

.navbar_main .tab:last-child .tab__label::after {
    color: white;
}

.navbar_main .tab:last-child h3 {
    width: 100%;
}

.navbar_main .tab:last-child a {
    width: 100%;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar_main .content-tabs {
    display: flex;
    flex-direction: column;
}

.navbar_main .content-tabs a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
    background-color: #f2f3f85d;
    padding-left: 25px;
    border-bottom: 1px solid #f2f3f8;
}

.navbar_main .content-tabs a:hover {
    color: #45b7e5;
    transition: 0.3s;
}

.navbar_main .mobile-inscrevasse2 {
    display: none;
}

@media (max-width: 1150px) {
    .navbar_main .botao_mudarcor {
        right: 20px;
        top: auto;
        bottom: 65px;
    }

    .navbar_main .navbar-custom .links {
        display: none;
    }

    .navbar_main .botao_mudarcor {
        right: 80px;
        top: 25px;
        bottom: auto;
    }

    .navbar_main .menu-toggle-custom {
        display: flex;
        padding: 40px 10px 40px 10px;
        margin-right: -6px;
    }

    .navbar_main .mobile-inscrevasse {
        display: block;
        text-wrap: nowrap;
    }
}

@media (max-width: 420px) {



    .navbar_main .mobile-inscrevasse {
        display: none;
    }

    .navbar_main .mobile-inscrevasse2 {
        display: flex;
    }

    .navbar_main .mobile-inscrevasse2 {
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: all 0.3s;
        box-shadow: inset 0 0 0 2px #f9e20f;
        background-color: #f9e20f !important;
        text-transform: uppercase;
        color: #1b3556;
        margin-left: 14px;
        margin-right: 14px;
        justify-content: center;
        border-radius: 5px;
    }

    .navbar_main .mobile-inscrevasse2 a {
        text-decoration: none;
        transition: all 0.3s;
    }

    .navbar_main .mobile-inscrevasse2:hover {
        color: #1b3556 !important;
        background-color: #fff !important;
    }
}


/* CURSOS GERAL - FILTROS /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.filtros_main {
    min-height: 100vh;
}

.filtros_main .pagina_filtros {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}


/* Personaliza a barra de rolagem inteira 
::-webkit-scrollbar {
    width: 12px;
}


::-webkit-scrollbar-track {
    background: #1b3556;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.404);
    border: 2px solid #1b3556;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.603);
}*/


/* campo de pesquisa ------------------------------------------------------------------------------------------------------------------------------------*/
.filtros_main .pagina_filtros .search-container {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.filtros_main .pagina_filtros #search-input {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 50px;
    font-family: 'Source Sans 3', sans-serif;
    box-sizing: border-box;
    background-color: #fafbff;
}

/* drop down legal só que não tão legal --------------------------------------------------------------------------------------------------------------------------------------------*/

.filtros_main .pagina_filtros #filters {
    display: flex;
    gap: 10px;
    align-items: center;
}

.filtros_main .pagina_filtros #clear-filters {
    box-shadow: inset 0 0 0 2px #e7ebf5;
    background-color: white;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Source Sans 3', sans-serif;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 10px;
}

/* Estilo para o dropdown */
.filtros_main .pagina_filtros .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

/* Estilo para o botão que abre/fecha o dropdown */
.filtros_main .pagina_filtros .dropbtn {
    background-color: #f2f4fa;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Source Sans 3', sans-serif;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 10px;

}


/* Conteúdo do dropdown */
.filtros_main .pagina_filtros .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: fit-content;
    z-index: 1;
    border-radius: 5px;
    box-shadow: inset 0 0 0 2px #e7ebf5;
    text-wrap: nowrap;
}

/* Itens do dropdown */
.filtros_main .pagina_filtros .dropdown-content label {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Mostrar o dropdown ao passar o mouse */
.filtros_main .pagina_filtros .dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo para o botão Limpar Filtros */
.filtros_main .pagina_filtros #clear-filters {
    margin-top: 10px;
}

/* Estilo para os sliders */
.filtros_main .pagina_filtros input[type=range] {
    width: 100%;
    margin: 5px 0;
}

/* Estilo para os spans que mostram os valores atuais */
.filtros_main .pagina_filtros #min-valor-span,
.filtros_main .pagina_filtros #max-valor-span {
    font-weight: bold;
}



/* design dos cards -------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.filtros_main .pagina_filtros #cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* Cria colunas que se ajustam automaticamente */
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.filtros_main .pagina_filtros .card {
    background-color: white;
    border: 2px solid #e7ebf5;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    min-height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.filtros_main .pagina_filtros .card img {
    max-width: 100%;
    height: auto;
}

.filtros_main .pagina_filtros .card h3 {
    margin-top: 0px;
    margin-bottom: 0;
}

.filtros_main .pagina_filtros .card p {
    font-size: 14px;
    color: #666;
}

.filtros_main .pagina_filtros .tag {
    background-color: #f2f4fa;
    border-radius: 5px;
    padding: 3px 8px;
    white-space: nowrap;
}

.filtros_main .pagina_filtros .tag span:last-child {
    margin-right: 0px;
}

/* Personaliza a barra de rolagem inteira */
.filtros_main .pagina_filtros .tagscursosdesign::-webkit-scrollbar {
    height: 8px;
}

.filtros_main .pagina_filtros .tagscursosdesign::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}

.filtros_main .pagina_filtros .tagscursosdesign::-webkit-scrollbar-thumb {
    border: 2px solid white;
    border-radius: 10px;
    background: #45b8e53d;
}

.filtros_main .pagina_filtros .tagscursosdesign::-webkit-scrollbar-thumb:hover {
    background: #45b8e560;
}

.filtros_main .pagina_filtros .tagscursosdesign {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: small;
    font-weight: 500;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 7px;
}

.filtros_main .pagina_filtros .selected-tag {
    background-color: #f9e20f;
}

.filtros_main .pagina_filtros .horariodianoite {
    margin: 0;
    font-size: 14px;
    color: #45b7e5;
}

.filtros_main .pagina_filtros .semestres {
    margin: 0;
    font-size: 14px;
    color: #a9b0cc;
}

.filtros_main .pagina_filtros .card a {
    margin-top: 15px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.filtros_main .pagina_filtros .vestibularlinkdaora {
    color: black;
    border: 2px solid #45b7e5;
    width: 100%;
}

.filtros_main .pagina_filtros .linkdocurso {
    width: 100%;
    border: 2px solid #1b3556;
    background-color: #1b3556;
    color: white;
    margin-right: 5px;
}

.filtros_main .pagina_filtros .valor-curso {
    margin: 0;
}

.filtros_main .pagina_filtros .valores-curso-container {
    display: flex;
    gap: 20px;
}


.filtros_main .pagina_filtros .valorinteressante {
    font-size: x-large;
    color: #45b7e5;
    font-weight: 700;
    line-height: 0.5;
}


@media (max-width: 500px) {

    .filtros_main .pagina_filtros #filters {
        flex-direction: column;
        gap: 0;
    }

    /* Estilo para o botão que abre/fecha o dropdown */
    .filtros_main .pagina_filtros .dropbtn {
        width: 100%;
        margin-bottom: 0px;
    }

    /* Conteúdo do dropdown */
    .filtros_main .pagina_filtros .dropdown-content {
        width: 100%;
        margin-top: -4px;
        border-radius: 0 0 5px 5px;
    }

    /* Estilo para o dropdown */
    .filtros_main .pagina_filtros .dropdown {
        width: 100%;
    }
}

.filtros_main .loadingcontainer {
    display: flex;
    justify-content: center;
}

.filtros_main .loader {
    margin-top: 100px;
    display: none;
    border: 8px solid #1b3556;
    /* Cor de fundo */
    border-top: 8px solid #f2f3f8;
    /* Cor da animação */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Tooltip ---------------------------------------------------------------------------------------------------------------------------------------------- */
.filtros_main .tooltip {
    margin-top: -5px;
    display: none;
    position: absolute;
    background-color: white;
    padding: 5px 10px;
    border-radius: 4px;
    border: 2px solid #1b3556;
}

.filtros_main .tooltip.show {
    display: block;
}

.filtros_main .tooltipTrigger {
    cursor: pointer;
    color: #f9e20f;
    padding: 10px;
    margin-left: -14px;
    margin-right: -10px;
}

/* CURSOS Pagina /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css');


html {
  scroll-behavior: smooth;
}

:root {
  /* Cores */
  --corprincipal: #1b3556;
  --corsecundaria: #45b7e5;
  --amarelo: #f9e20f;
  --neutral-light: #f2f3f8;
  --bg-branco: white;
  --bg-scroll: rgba(0, 0, 0, 0.253);
  --texto-preto: #242527;

  /* Tipografia */
  --primary-font: 'Source Sans 3', sans-serif;
  --h1-title-font-size: 26px;
  --caixatexto: uppercase;

  /* Medidas */
  --container-width: 960px;
  --margin-20: 20px;
  --margin-10: 10px;
  --margin-5: 5px;
  --border-50: 50px;
  --border-10: 10px;
  --border-5: 5px;

  /* Transições */
  --transition-speed: 0.3s;
}

/* Personaliza a barra de rolagem inteira
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}


::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.219);
  border: 2px solid white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
} */

.cursos-individual_main {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  background-color: var(--bg-branco);
}

.cursos-individual_main .header-titulo {
  color: var(--corprincipal);
  margin-bottom: 0;
  margin-top: -6px;
}

.cursos-individual_main .header-subtitulo {
  color: var(--corsecundaria);
  font-weight: 400;
  text-transform: var(--caixatexto);
  font-size: medium;
  margin: 0;
  margin-top: -8px;
}

.cursos-individual_main h2 {
  color: var(--texto-preto);
  font-size: 30px;
}

.cursos-individual_main h3 {
  color: var(--texto-preto);
  font-size: 22px;

}

.cursos-individual_main p {
  color: var(--texto-preto);
}

.cursos-individual_main .box {
  position: relative;
  overflow-x: hidden;
  padding: 0 auto;
  width: auto;
  z-index: 2;
  background: linear-gradient(to bottom, white 50%, var(--corprincipal) 50%);
}

.cursos-individual_main .box-inverso {
  position: relative;
  overflow-x: hidden;
  padding: 0 auto;
  width: auto;
  z-index: 2;
  background: linear-gradient(to bottom, var(--corprincipal) 50%, white 50%);
}

.cursos-individual_main .slideContainer {
  max-width: var(--container-width);
  width: 100%;
  padding: var(--margin-20) 0 40px 0;
}

.cursos-individual_main .slideContent {
  margin: 0 40px;
  overflow: hidden;
}

.cursos-individual_main .cardBox {
  border-radius: var(--margin-10) 0px var(--margin-10) 0;
  background-color: #f2f3f8;
}

.cursos-individual_main .cardDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--margin-20);
}

.cursos-individual_main .slideContent.swiper-initialized.swiper-horizontal {
  margin: 0;
}

.cursos-individual_main .teacherImg {
  width: 100%;
  height: 250px;
}

.cursos-individual_main .teacherSection img {
  margin-bottom: var(--margin-20);
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.cursos-individual_main .teacherSection {
  border-radius: 10px 0 10px 0;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.cursos-individual_main .teacherSection p {
  color: #777a7e;
}

.cursos-individual_main .teacherSection h3 {
  color: var(--corprincipal);
  margin-top: -20px !important;

}

.cursos-individual_main .teacherSection h3,
.cursos-individual_main .teacherSection p {
  margin: 0;
  padding: 15px 0 var(--margin-20) 0;
  margin-top: -30px;
  text-align: center;
  font-family: var(--primary-font);
}


.cursos-individual_main .teacherCurriculum {
  padding: var(--margin-20) 0 5px;
  margin: 0 var(--margin-20) 0 var(--margin-20);
  border-top: 1px solid #d7dee7;
  text-align: center;
}

.cursos-individual_main .teacherCurriculumLinks {
  color: #666;
  text-decoration: none;
  font-family: var(--primary-font);
  display: inline-block;
}

.cursos-individual_main .teacherCurriculumLinks:hover {
  color: var(--corprincipal);
}

.cursos-individual_main .teacherCurriculum i {
  font-size: 15px;
}

.cursos-individual_main .teacherCurriculumLinks {
  margin-right: 0;
}

.cursos-individual_main .titulo {
  font-family: var(--primary-font);
  font-weight: 700;
  max-width: var(--container-width);
  margin: 0 auto;
  padding-top: var(--margin-20);
  padding-bottom: var(--margin-10);
  color: #242527;
  border-bottom: 1px solid var(--corsecundaria);
  border-radius: 5px 5px 0 0;
  font-size: 30px;
}

.cursos-individual_main .titulo3 {
  font-family: var(--primary-font);
  font-weight: 700;
  max-width: var(--container-width);
  margin: 0 auto;
  padding-top: var(--margin-20);
  padding-bottom: var(--margin-10);
  border-bottom: 1px solid var(--corsecundaria);
  border-radius: 5px 5px 0 0;
  color: white;
  font-size: 30px;

}

.cursos-individual_main .titulo2 {
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-weight: 700;
  max-width: var(--container-width);
  margin: 0 auto;
  margin-bottom: var(--margin-10);
  padding-top: var(--margin-20);
  color: #242527;
  font-size: 30px;

}

.cursos-individual_main .button-containercalendario {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: var(--container-width);
  margin: 0 auto;
  gap: var(--margin-10);
}

.cursos-individual_main .button-containercalendario a {
  text-decoration: none;
}

.cursos-individual_main .um {
  color: white;
  background-color: #5d378d;
}

.cursos-individual_main .um:hover {
  color: #242527;
  background-color: white;
  box-shadow: inset 0 0 0 2px #5d378d;
}

.cursos-individual_main .dois {
  background-color: #1b3556;
  color: white;
}

.cursos-individual_main .três {
  margin-top: var(--margin-10);
  background-color: #e53888;
  color: white;
}

.cursos-individual_main .três:hover {
  color: #242527;
  background-color: white;
  box-shadow: inset 0 0 0 2px #e53888;
}

.cursos-individual_main .dois:hover {
  color: #242527;
  background-color: white;
  box-shadow: inset 0 0 0 2px #1b3556;
}

.cursos-individual_main .responsive-button {
  border: none;
  padding: var(--margin-20);
  cursor: pointer;
  transition: all 0.3s;
  font-family: var(--primary-font);
  font-weight: 400;
  border-radius: 5px;
  flex: 1 0 auto;
  text-align: center;
}

.cursos-individual_main .containerinfo {
  display: flex;
  justify-content: space-between;
  max-width: var(--container-width);
  margin: var(--margin-20) auto;
  margin-top: 40px;
  gap: var(--margin-10);
}

.cursos-individual_main .caixainfo {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.cursos-individual_main .caixaead {
  border: 1px solid var(--corsecundaria);
  border-radius: 0 0 5px 5px;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.cursos-individual_main .menosmargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cursos-individual_main .texto-ead {
  border-radius: 5px 5px 0 0;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  color: white;
  background-color: var(--corsecundaria);
  font-weight: 500;
  font-size: larger;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.cursos-individual_main .texto-eadbotao {
  background-color: var(--corsecundaria);
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 20px;
  color: white;

}

.cursos-individual_main .texto-eadbotao a {
  transition: all 0.3s;
}

.cursos-individual_main .navdot {
  text-decoration: none !important;
}

.cursos-individual_main .coloridinho {
  color: var(--corsecundaria);
}

.cursos-individual_main .texto-eadbotao:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--corprincipal) !important;
  color: black;
}

.cursos-individual_main .texto-cima,
.cursos-individual_main .texto-baixo {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;

}

.cursos-individual_main .texto-baixo a {
  color: var(--texto-preto);
}

.cursos-individual_main .texto-cima {
  color: var(--texto-preto);
  background-color: white;
  border-radius: 5px;
  border-radius: 5px 5px 0 0;
  font-weight: 600;
  font-size: larger;
  box-shadow: inset 0 0 0 1px #f2f3f8;
}

.cursos-individual_main .texto-baixo {
  border-radius: 5px;
  background-color: #f2f3f8;
  border-radius: 0 0 5px 5px;
  color: var(--texto-preto);
  font-weight: 900;
  text-transform: var(--caixatexto);

}

.cursos-individual_main .piquininha {
  font-size: xx-small;
  margin-right: 2px;
  margin-top: 2px;
}

.cursos-individual_main div.cursos p {
  margin: 0;
}

/* Abas Sobre a FAM e Sobre o curso*/
.cursos-individual_main .tab {
  display: flex;
  overflow: hidden;
  max-width: var(--container-width);
  margin: auto;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
}

/* Estilo dos botões das abas */
.cursos-individual_main .tab button {
  flex-grow: 1;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: all 0.3s;
  text-align: center;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: larger;
  font-weight: 700;
  background-color: var(--corsecundaria);
  color: white;
  margin-bottom: var(--margin-10);
  font-size: 22px;
}

/* Altera a cor de fundo dos botões ao passar o mouse */
.cursos-individual_main .tab button:hover {
  background-color: var(--corprincipal);
}

.cursos-individual_main .tab button.active:hover {
  color: var(--corsecundaria);
}

/* Ativa a aba com cor de fundo diferente */
.cursos-individual_main .tab button.active {
  background-color: #f2f3f8;
  color: #242527;
}

/* Estilo do conteúdo das abas */
.cursos-individual_main .tabcontent {
  display: none;
  padding: 0 var(--margin-20);
  border-top: none;
  height: 400px;
  max-width: var(--container-width);
  margin: auto;
  box-sizing: border-box;
  background-color: #f2f3f8;
  border-radius: 0 0 5px 5px;
  overflow-y: auto;
  text-align: justify;
  color: #242527;
  position: relative;
}

.cursos-individual_main .scroll-container {
  position: relative;
  max-width: var(--container-width);
  margin: 0 auto;
  background-color: #f2f3f8;
  border-radius: 5px;
  margin-bottom: var(--margin-20);
  padding-bottom: var(--margin-10);

}

.cursos-individual_main .tabcontent::-webkit-scrollbar {
  width: 10px;
}

.cursos-individual_main .tabcontent::-webkit-scrollbar-track {
  background-color: #f2f3f8;
  border-radius: 50px;
}

.cursos-individual_main .tabcontent::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.253);
  border: 3px solid #f2f3f8;
  border-radius: 50px;
}

.cursos-individual_main .slide-container {
  margin-top: var(--margin-20);
  max-width: var(--container-width);
  width: 100%;
  padding: 40px 0;
}

.cursos-individual_main .slide-content {
  margin: 0 40px;
  overflow: hidden;
}

.cursos-individual_main .card {
  border-radius: 10px 0 10px 0;
  background-color: #f2f3f8;
}

.cursos-individual_main .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--margin-10) 14px;
}

.cursos-individual_main .card-content h3 {
  border-bottom: 1px solid #d7dee7;
}

.cursos-individual_main .name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  font-family: var(--primary-font);

}

.cursos-individual_main .description {
  color: #777a7e;
  text-align: center;
  font-family: var(--primary-font);
  margin: 0;
}

.cursos-individual_main .flex-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.cursos-individual_main .flex-item {
  flex: 1;
  margin: var(--margin-5);
  padding: 10px;
}

.cursos-individual_main .flex-item h4 {
  margin-bottom: 0;
  margin-top: 0;
}

.cursos-individual_main .button:hover {
  color: #242527;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #1b3556;
}

.cursos-individual_main .button {
  color: white;
  border: none;
  padding: 8px 16px;
  background-color: var(--corsecundaria);
  border-radius: var(--border-5);
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s;
  font-family: var(--primary-font);
  text-transform: var(--caixatexto);
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.cursos-individual_main .swiper-navBtn::before,
.cursos-individual_main .swiper-navBtn::after {
  font-size: 38px;

}

.cursos-individual_main .swiper-pagination-bullet {
  background-color: var(--corsecundaria);
  opacity: 1;
}

.cursos-individual_main .swiper-pagination-bullet-active {
  background-color: var(--corprincipal);
}

.cursos-individual_main div.slide-container.swiper {
  padding-top: 0;
}

.cursos-individual_main .slide-content.swiper-initialized.swiper-horizontal {
  margin: 0;
}

.cursos-individual_main .selectionumpoucomaior {
  padding-top: 100px;
  padding-bottom: 100px;

}

/*Topicos*/
.cursos-individual_main .grid-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--margin-20);
  padding: var(--margin-20);
  border-radius: 5px;
  max-width: var(--container-width);
  margin-top: var(--margin-20);
  margin: 0 auto;
  background-color: var(--bg-branco);
  border: 1px solid var(--corsecundaria);

}

.cursos-individual_main .grid-item {
  display: block;
  align-items: flex-start;
  padding: var(--margin-10);
  margin: 0 auto;
}

.cursos-individual_main .icon {
  width: 50px;
  height: 50px;
  margin-right: var(--margin-20);
  padding: var(--margin-10);

}

.cursos-individual_main .contentdogrid h3 {
  margin: 0;
  margin-bottom: var(--margin-10);

}

.cursos-individual_main .contentdogrid p {
  text-align: left;
  margin: 0;
}

.cursos-individual_main section {
  padding: 0 var(--margin-20);
}

/*MATRIZ ESCOLAR*/
.cursos-individual_main #lista {
  box-sizing: border-box;
  border-radius: 5px;
  max-width: var(--container-width);
  margin: 0 auto;
  margin-bottom: var(--margin-20);
  margin-top: var(--margin-20);
  height: fit-content;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f2f3f8;
  border: 1px solid var(--neutral-light);
  gap: 10px;
  padding: 20px;
}

.cursos-individual_main #lista .item {
  border-radius: 5px;
}

/* Nova classe para quando o último item está sozinho na linha */
.cursos-individual_main #lista .item-last-alone {
  grid-column: 1 / -1;
}

.cursos-individual_main #lista .item:nth-child(odd) {
  background-color: white;
}

.cursos-individual_main #lista .item:nth-child(even) {
  background-color: white;
}

.cursos-individual_main #lista .item .descricao {
  color: var(--texto-preto);
}

.cursos-individual_main .descricao {
  display: none;
  margin: var(--margin-10);
  background-color: white;
  border: 1px solid #f2f3f8;
  padding: var(--margin-10);
  border-radius: 5px;
}

.cursos-individual_main #lista h3 {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s;
  margin: 15px;
  margin-left: var(--margin-20);
  color: var(--corprincipal);
}

.cursos-individual_main #lista h3:hover {
  color: var(--corsecundaria);
}

.cursos-individual_main .azul {
  background-color: var(--corprincipal);
}

.cursos-individual_main .espacobranco {
  background-color: var(--bg-branco);
  height: 80px;
}

.cursos-individual_main .espacoazul {
  height: 80px;
  background-color: var(--corprincipal);
}

@media (max-width: 701px) {


  .cursos-individual_main #lista {
    grid-template-columns: 1fr;
  }

  .cursos-individual_main #lista .item:last-child {
    grid-column: 1;
  }

}

.cursos-individual_main .teacherCurriculumLinks i {
  padding-right: 5px;
  border-radius: 2px;
}

.cursos-individual_main .frasedeefeito {
  text-align: center;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--margin-20);
}

.cursos-individual_main .inscreva {
  font-size: 30px;
  cursor: pointer;
  line-height: 0;
}

.cursos-individual_main .inscreva a {
  text-decoration: none;
  color: var(--texto-preto);

}

.cursos-individual_main .highlight {
  width: max-content;
  background-size: 200% auto;
  background-image: linear-gradient(to right, transparent 50%, var(--amarelo) 50%);
  background-position: 0% 0;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

.cursos-individual_main .highlight.active {
  animation-name: highlight;
}

@keyframes highlight {
  from {
    background-position: 0% 0;
  }

  to {
    background-position: -100% 0;
  }
}


@media (max-width: 600px) {

  .cursos-individual_main .containerprofessores::-webkit-scrollbar-track {
    border-radius: 50px;
  }

  .cursos-individual_main .containerprofessores::-webkit-scrollbar-track {
    background-color: #f2f3f8;
  }

  .cursos-individual_main .titulo_h1 {
    font-size: 35px;
  }

  .cursos-individual_main .header-titulo {
    font-size: 3vh;
  }

  .cursos-individual_main .inscreva-btn {
    margin: 0 auto;
  }

  .cursos-individual_main .button-containercalendario {
    flex-direction: column;
  }

  .cursos-individual_main .grid-container {
    grid-template-columns: 1fr;
  }

  .cursos-individual_main .grid-item {
    width: 90%;
  }

  .cursos-individual_main .outroscursos {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .cursos-individual_main .overlayazul {
    opacity: 70% !important;
  }

}



@media only screen and (max-width: 315px) {

  .cursos-individual_main .conhecacursos {
    margin-bottom: 10px;
  }


}


@media screen and (max-width: 768px) {
  .cursos-individual_main .containerinfo {
    width: 100%;
    flex-wrap: wrap;
  }

  .cursos-individual_main .containerinfo>* {
    flex-basis: calc(50% - var(--margin-5));
    flex-grow: 1;
  }

  .cursos-individual_main .slide-content {
    margin: 0 var(--margin-10);
  }

  .cursos-individual_main .swiper-navBtn {
    display: none;
  }

  .cursos-individual_main .slideContent {
    margin: 0 var(--margin-10);
  }

  .cursos-individual_main .swiperNavBtn {
    display: none;
  }

}


.cursos-individual_main .rosaead1 {
  margin-right: 5px;
  margin-left: 3px;
  color: #e53888;
}

.cursos-individual_main .rosaead {
  color: #e53888;
  margin-left: 5px;
  margin-right: 5px;

}

.cursos-individual_main .amarelomec {
  color: #f9e20f;
  font-size: medium;
}

.cursos-individual_main #ondeficaovideo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--container-width);
}

.cursos-individual_main .video-part {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
}

.cursos-individual_main .video-part iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.cursos-individual_main .paragrafo {
  text-indent: 20px;
}

/*  HEADER ----------------------------------------------------------------------------------------------- */

.cursos-individual_main header {
  background-color: var(--corprincipal);
  height: 100dvh;
  padding: 0 20px;
}

.cursos-individual_main .headertamanho {
  display: flex;
  margin: 0 auto;
  height: calc(100dvh - 40px);
  justify-content: center;
  align-items: center;
}

.cursos-individual_main .header_div {
  display: flex;
  width: 960px;

}

.cursos-individual_main .ladodireito {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

}

.cursos-individual_main #logoQuadrado {
  max-width: 400px;
}

.cursos-individual_main #logoRetangular {
  max-width: 400px;
  width: 100%;
}

.cursos-individual_main .ladoesquerdo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.cursos-individual_main .ladoesquerdo a {
  text-decoration: none;
  color: black;
}

.cursos-individual_main .ladoesquerdo i {
  font-size: small;
  margin-right: 2px;
}

.cursos-individual_main .flex-item:nth-child(3):hover {
  color: white;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px white;
  cursor: pointer;
}

.cursos-individual_main .subtitulo {
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 450px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  font-size: larger;

}

.cursos-individual_main .subtitulo1 {
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 450px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  font-size: larger;
}

.cursos-individual_main .inscrevase {
  background-color: #f9e20f;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
  color: #1b3556;

}

.cursos-individual_main  .inscrevase a {
  text-decoration: none;
  transition: all 0.3s;

}

.cursos-individual_main  .inscrevase:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--amarelo);
  color: white;

}

.cursos-individual_main .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
}

.cursos-individual_main .ladoesquerdo .flex-item{
  background-color: white;
}

.cursos-individual_main .flex-item {
  padding: 10px;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
  flex: 1 1 200px;
  transition: all 0.3s;
}

.cursos-individual_main .button-background {
  top: 0;
  position: fixed;
  background-color: var(--bg-branco);
  width: 100%;
  z-index: 9;
  align-items: center;
  justify-content: center;
  display: none;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--neutral-light);
}

.cursos-individual_main .scroll-button {
  background-color: #f9e20f;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  width: fit-content;
  color: black;
}

.cursos-individual_main .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-width);
  margin: auto;
  z-index: 9;

}

.cursos-individual_main .title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.cursos-individual_main .inscreva-btn {
  background-color: var(--amarelo);
  color: black;
  border: none;
  padding: 5px var(--margin-20);
  cursor: pointer;
  transition: all 0.3s;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: var(--caixatexto);
  text-decoration: none;
}

.cursos-individual_main .inscreva-btn:hover {
  color: var(--amarelo);
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--amarelo);
}

.cursos-individual_main .scroll-button:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px white;
  color: white;
}

.cursos-individual_main .ladomeio {
  display: none;
}

@media (max-width: 960px) {
  .cursos-individual_main .header_div {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .cursos-individual_main .ladodireito {
    width: 100%;
    height: 100%;
    align-items: last baseline;
    padding-bottom: 20px;
    flex: 1;
  }

  .cursos-individual_main .ladodireito img {
    transform: scale(0.9);
  }

  .cursos-individual_main .ladoesquerdo {
    width: 100%;
    height: 100%;
    flex: 1;
    justify-content: flex-start;
  }

  .cursos-individual_main .ladomeio {
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: center;
    align-items: center;
    z-index: 5;

  }

  .cursos-individual_main .grid-container {
    grid-template-columns: 1fr;
  }

  .cursos-individual_main .subtitulo {
    display: none;
  }
}



.cursos-individual_main .containerseta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursos-individual_main .arrow {
  font-size: 30px;
  color: var(--corsecundaria);
  display: inline-block;
  padding: 5px;
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(-10px) ;
  }

  40% {
    transform: translateY(-30px) ;
  }

  60% {
    transform: translateY(-20px);
  }
}


.cursos-individual_main .btn-fixo {
  position: fixed;
  bottom: 10px;
}

.cursos-individual_main .tabcontent .produtofinalcursos {
  display: inline-flex;
}

.cursos-individual_main .tabcontent .produtofinalcursostotal {
  display: inline-flex;
}

.cursos-individual_main .valorhighlight {
  margin-top: 10px;
}

.cursos-individual_main .pmercado {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 10px;
  border-bottom: 1px solid var(--corsecundaria);
  margin-top: -20px;
  padding-bottom: 18px;
}

/* faq --------------------------------------------------------------------------------------------------------------------------*/


.cursos-individual_main .accordion-content {
  max-width: var(--container-width);
  margin: 0 auto;
  margin-bottom: 130px;
}

.cursos-individual_main .accordion-content .accordion-item {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  border-radius: 5px;
  border: 1px solid var(--corsecundaria);
  cursor: pointer;
  background: white;
  margin-bottom: 0.5em;
}

.cursos-individual_main .accordion-content .item-header {
  display: flex;
  justify-content: space-between;
  column-gap: 0.2em;
}

.cursos-individual_main .accordion-content .item-icon {
  margin-top: 1rem;
  flex: 0 0 25px;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--corprincipal);
}

.cursos-individual_main .accordion-content .item-icon i {
  transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

.cursos-individual_main .accordion-content .item-question {
  font-size: 1em;
  line-height: 1;
  font-weight: 500;
}

.cursos-individual_main .accordion-content .active .item-icon i {
  transform: rotate(180deg);
}

.cursos-individual_main .accordion-content .active .item-question {
  font-weight: 500;
}

.cursos-individual_main .accordion-content .item-content {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}

.cursos-individual_main .accordion-content .item-answer {
  color: #8a97a8;
}

.cursos-individual_main .outroscursos {
  display: flex;
  align-items: center;
  color: white;
  font-size: xx-large;
  font-weight: 700;
}

.cursos-individual_main .containerseta2 {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
  margin-left: 30px;
  z-index: 2;
}

.cursos-individual_main .arrow2 {
  font-size: 30px;
  color: var(--corsecundaria);
  display: inline-block;
  padding: 5px;
  animation: bounce 2s infinite;
}

.cursos-individual_main .conhecacursos {
  color: white;
  line-height: 0.9;
  z-index: 2;
}

.cursos-individual_main .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  /* Garante que o overlay fique atrás do conteúdo */
}

/* Efeito de degradê de opacidade da esquerda para a direita */
.cursos-individual_main .image-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--corprincipal) 20%, rgba(255, 255, 255, 0.075) 100%);
  pointer-events: none;
  box-shadow: inset 0 0 0 1px var(--corprincipal);
  border-radius: 10px 0 10px 0;

}

.cursos-individual_main .outroscursoscontainer a {
  text-decoration: none;
}

.cursos-individual_main .outroscursoscontainer {
  position: relative;
  max-width: 970px;
  height: auto;
  z-index: 1;
  border-radius: 10px 0 10px 0;
  background-color: var(--corprincipal);
  box-sizing: border-box;
  padding: 50px;
  margin: 0 auto;
}

.cursos-individual_main .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* Garante que cubra toda a largura do .outroscursos */
  bottom: 0;
  /* Garante que cubra toda a altura do .outroscursos */
  background-size: cover;
  object-fit: cover;
  z-index: 0;
  /* Posiciona abaixo do conteúdo de .outroscursos mas acima de outros backgrounds */
  border-radius: 10px 0 10px 0;
  opacity: 80%;
  transition: opacity 1s ease-in-out;
}

.cursos-individual_main .overlay-next {
  opacity: 0;
  /* Inicia invisível */
}

.cursos-individual_main .overlayazul {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--corprincipal);
  position: absolute;
  z-index: 1;
  border-radius: 10px 0 10px 0;
  opacity: 40%;
}