@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
  width: 12px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.219);
  border: 2px solid white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* Compatibilidade com Firefox */
html {

  scrollbar-color: rgba(0, 0, 0, 0.219) white;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
  background: #e9f7ff;
  box-sizing: border-box;
}

header {
  margin: 0 auto;

  display: flex;
  justify-content: center;
}

header img {
  max-width: 100%;
  height: auto;
  max-width: 300px;
  padding: 80px 20px;
}

.main {
  background: white;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px 0;
  box-sizing: border-box;
}

.segundomain {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 20px;
  border-radius: 20px;
  box-sizing: border-box;
}

.centralizando {
  box-sizing: border-box;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}

.tresmain {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: relative;
  padding: 30px 20px;
}

.tresmain::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 15'%3E%3Cpolygon points='0,15 15,0 30,15' fill='white'/%3E%3C/svg%3E");
  background-size: 30px 15px;
  background-repeat: repeat-x;
  background-color: #e9f7ff;
}

.tresmain::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 15'%3E%3Cpolygon points='0,0 15,15 30,0' fill='white'/%3E%3C/svg%3E");
  background-size: 30px 15px;
  background-repeat: repeat-x;
  background-color: #e9f7ff;
}

.features {
  display: flex;
  gap: 13px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.features img {
  max-width: 200px;
  margin-bottom: -20px;
}

.topicos {
  max-width: 200px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.logos-grid{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.logos-grid a{
  max-width: 400px;
  width: 100%;
}