@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 12px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #f2f3f8;
    border-radius: 5px;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.219);
    border: 2px solid #f2f3f8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #f2f3f8;

}

section p {
    text-indent: 10px;
}

.main2 {
    max-width: 960px;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 0;
    margin: 20px;
    height: fit-content;
    background-color: white;
    margin: auto;
    border-radius:  0  0 10px 10px;
}

main {
    max-width: 960px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    height: fit-content;
    background-color: white;
    margin: auto;
    border-radius:  10px 10px 0  0 ;
}


header {
    margin: 50px 20px;
    text-align: center;
}

header .logopde {
    display: flex;
    max-width: 300px;
    margin: 0 auto;
}

header .logopdepc {
    max-width: 700px;
    margin: 0 auto;
}

/* GALERIUA ------------------------------------------------------------------------------------------------------------------------------------------- */

.title,
.subtitle {
    justify-content: center;
    /* Centraliza horizontalmente */
}

.title {
    font-weight: bold;
    color: #1b3556;
    font-size: large;
}

.subtitle {
    color: #bac0d1;
    font-weight: 400;
    font-size: small;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 10px;
   
}

.galeria a{
    text-decoration: none;
}

.textaofamexplicacao {
    text-align: center;
}

.textaofamexplicacaomini {
    display: flex;
 
    justify-self: center;
    color: #bac0d1;
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-bottom: 5px;
    max-width: 960px;

    margin: 30px 0;
}

.galeria:first-child {
    grid-row: span 3;
}

.tags-container {
    z-index: 2;
    display: flex;
}

.tags {
    text-transform: uppercase;
    color: #1b3556;
    font-weight: 700;
    font-size: small;
    background-color: white;
    padding: 2px 8px;
    border-radius: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #45b7e5;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    min-height: 250px;
    overflow: hidden;
    /* Garante que o conteúdo fique dentro do card */
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Faz com que a imagem ocupe todo o espaço */
    z-index: 1;
    /* Certifica-se de que a imagem fique no fundo */
}

.card .content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 15px;
    background: white;
    border-radius: 5px;
}



.informacoes-extensao{
    border: 1px solid #45b7e5;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

/* ----------------------------------------- */

.plantao-duvidas{
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.tipo{
    border: 1px solid #45b7e5;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    padding-bottom: 10px;
}

.tipo-titulo{
    background-color: #45b7e5;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
}

.plantao-duvidas-container{
    margin-bottom: 30px;
}

@media (max-width: 1000px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width: 600px) {
    .galeria {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .plantao-duvidas{
        flex-direction: column;
       
    }
}
