.form-home {
    filter: blur(0px);
    transition: opacity 0.5s ease;
}
.form-home.processing {
    filter: blur(4px);
    opacity: 0.85;
    pointer-events: none;
}

html:not(.no-js) .inputs-hidden {
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    transition: max-height 1s ease;
}
html:not(.no-js) .inputs-hidden.visible {
    max-height: 100vh;
    opacity: 1;
}

.fb_iframe_widget {
    margin: .5em auto;
    vertical-align: middle;
    transition: opacity 0.5s ease;
}
.fb_iframe_widget.hidden {
    opacity: 0;
    pointer-events: none;
}

.selo-footer {
    width: 100%;
    margin-top: 40px;
}

.selo-emec {
    max-width: 330px;
    margin: 0 auto;
}

footer {
    color: #fff !important;
}