@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin: 0 auto;
    max-width: 940px;
    height: 500px;
    z-index: 1;
}

header img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0 0 10px 10px;

}


main {
    position: relative;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 900px;
    margin-bottom: 100px;
    margin-top: -10px;
    background-color: white;
    z-index: 19;
    border-radius: 10px;
}

.texto {
    padding: 0 10px;
}

.horario-data-lugar {
    border: 1px solid #45b7e5;
}

.texto h1 {
    color: #0e2e7c !important;
    line-height: 38px;
}

main p {
    text-indent: 20px;
}

main p,
main li {
    color: #58595b;
    font-size: 18px;
    line-height: 30px;
}

.texto h1,
.texto button {
    color: black;
}

.texto button {
    border-bottom: 1px solid #fff;
    padding: 12px 15px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    text-align: left;
    outline: none;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 5px;
    border: 0px;
    border: 1px solid #d5dcf1;
    font-size: large;

}

.texto button:last-child {

    margin-bottom: 0px;

}

.texto button::-moz-focus-inner {
    border: 0;
}

.texto button:focus {
    color: white;
    background-color: #45b7e5;
    border: 1px solid #45b7e5;

}

main a {
    color: #45b7e5;
    text-decoration: none;
}

.texto .active-btn {
    background-color: #45b7e5;
    color: white;
    border: 1px solid #45b7e5;

}

.textofinal{
    text-align: center;
    margin: 10px;
    margin-top: 20px;

}

.azulclaro{
    color: #45b7e5;
}

.texto .botaoinscrevase {
    display: flex;
    padding: 10px 18px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #45b7e5;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 600;
    margin-top: 20px;
    justify-content: center;
    font-size: medium;
}

.texto .botaoinscrevase:hover {
    background-color: #1b3556;
    border: 2px solid #1b3556;
    color: white;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*Topicos*/
.grid-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    margin: 0 auto;
    border: 1px solid #45b7e5;
}

.grid-item {
    display: block;
    align-items: flex-start;
    padding: 10px;
    margin: 0 auto;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    padding: 10px;
}

.contentdogrid h3 {
    margin: 0;
    margin-bottom: 10px;
}

.contentdogrid p {
    margin: 0;
}




@media (max-width: 960px) {

    .grid-container {
        grid-template-columns: 1fr;
    }

}



/* -------------------------------------------------------------------------------------------------------------------------------------------------------*/


.containerinfo {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    gap: 10px;
    margin-bottom: 10px;
}

.caixainfo {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.menosmargin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.texto-cima,
.texto-baixo {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;

}

.texto-cima {
    background-color: white;
    border-radius: 5px;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
    font-size: larger;
    box-shadow: inset 0 0 0 1px #f2f3f8;
}

.texto-baixo {
    border-radius: 5px;
    background-color: #f2f3f8;
    border-radius: 0 0 5px 5px;
    font-weight: 900;
    font-size: larger;
    text-transform: uppercase;
}

.mapa {
    padding: 10px 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    background-color: #45b7e5;
    color: white;
    margin-bottom: 25px;
}



@media screen and (max-width: 768px) {
    .containerinfo {
        flex-wrap: wrap;
    }
}