@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b3556;
}

.mmain {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}


/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 12px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #1b3556;
    border-radius: 5px;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.404);
    border: 2px solid #1b3556;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.603);
}

/* campo de pesquisa ------------------------------------------------------------------------------------------------------------------------------------*/
.search-container {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}

#search-input {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 50px;
    font-family: 'Source Sans 3', sans-serif;
    box-sizing: border-box;
}

/* drop down legal só que não tão legal --------------------------------------------------------------------------------------------------------------------------------------------*/

#filters {
    display: flex;
    gap: 10px;
    align-items: center;
}

#clear-filters {
    background-color: #d5dcf1;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Source Sans 3', sans-serif;
    border-radius: 10px;
    padding: 8px 15px;
}

/* Estilo para o dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    
}

/* Estilo para o botão que abre/fecha o dropdown */
.dropbtn {
    background-color: #fafbff;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Source Sans 3', sans-serif;
    border-radius: 10px;
    padding: 8px 15px;

}

/* Conteúdo do dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fafbff;
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
}

/* Itens do dropdown */
.dropdown-content label {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

/* Mostrar o dropdown ao passar o mouse */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo para o botão Limpar Filtros */
#clear-filters {
    margin-top: 10px;
}

/* Estilo para os sliders */
input[type=range] {
    width: 100%;
    margin: 5px 0;
}

/* Estilo para os spans que mostram os valores atuais */
#min-valor-span,
#max-valor-span {
    font-weight: bold;
}



/* design dos cards -------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* Cria colunas que se ajustam automaticamente */
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

.card {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    min-height: 290px;
    display: flex; /* Adicionado */
    flex-direction: column; /* Adicionado */
    justify-content: space-between; /* Adicionado */
}


.card img {
    max-width: 100%;
    height: auto;
}

.card h3 {
    margin-top: 10px;
    margin-bottom: 0;
}

.card p {
    font-size: 14px;
    color: #666;
}

.tag {
    background-color: #d5dcf1;
    border-radius: 10px;
    padding: 3px 8px;
    margin-right: 4px;
    white-space: nowrap; /* Impede quebra de linha */

}
.tag span:last-child {
    margin-right: 0px;
}

/* Personaliza a barra de rolagem inteira */
.tagscursosdesign::-webkit-scrollbar {
    height: 8px;
}

.tagscursosdesign::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}

.tagscursosdesign::-webkit-scrollbar-thumb {
    border: 2px solid white;
    border-radius: 10px;
    background: #45b8e53d;

}

.tagscursosdesign::-webkit-scrollbar-thumb:hover {
    background: #45b8e560;
}

.tagscursosdesign {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: small;
    font-weight: 500;
    overflow-x: scroll;
    height: 33px;
    display: flex;
    align-content: center;
}

.selected-tag {
    background-color: #f9e20f;
    /* Ou a cor desejada para tags selecionadas */
}

.horariodianoite {
    margin: 0;
    font-size: 14px;
    color: #45b7e5;
}

.semestres {
    margin: 0;
    font-size: 14px;
    color: #a9b0cc;
}

.card a{
    margin-top: 15px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;

}

.vestibularlinkdaora {
    color: black;
    border: 2px solid #45b7e5;
    width: 100%;
}

.linkdocurso {
    width: 100%;
    border: 2px solid #1b3556;
    background-color: #1b3556;
    color: white;
    margin-right: 5px;
}

.valor-curso{
    margin: 0;
}

.valores-curso-container {
    display: flex; /* Usa flexbox para dispor os itens lado a lado */
    gap: 10px; /* Espaçamento entre os itens */
}


.valorinteressante{
    font-size: x-large; 
    color: #45b7e5;
    font-weight: 700;

}