@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 14px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #f2f3f8;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid #f2f3f8;
    border-radius: 10px;

}

/* Personaliza a barra de rolagem quando você passa o mouse sobre ela */
::-webkit-scrollbar-thumb:hover {
    background: #1b3556;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f3f8;
    font-family: 'Source Sans 3', sans-serif;

}

main {
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

header {
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
    background-color: white;

}

.logo {
    margin: 0 auto;
    width: 200px;
    height: auto;
}

.estudenafamcontainer {
    background-color: transparent;
    min-height: 400px;

}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    flex: 1;
    color: white;
    background-color: #1b3556;
    box-shadow: inset 0 0 0 2px transparent;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Source Sans 3', sans-serif;
    transition: all 0.3s;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}

button:hover {
    color: #242527;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #1b3556;
}

.btn2 {
    width: 100%;
    background-color: #f9e20f;
    box-shadow: inset 0 0 0 2px #f9e20f;
    margin: 0 auto;
    margin-top: 20px;
    color: #242527;
}

.btn2:hover {
    color: #242527;
    box-shadow: inset 0 0 0 2px #1b3556;
    background-color: white;
}

.texto {
    text-indent: 20px;
    text-align: justify;
    padding: 0 10px;
}

.titulo {
    background-color: #1b3556;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.esduremaisfam svg {
    width: 94px;
    margin-left: 15px;
    margin-bottom: 2px;
}

.esduremaisfam {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.estudena {
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}

.escolha {
    color: #f9e20f;
    margin-top: -10px;
}

.btn-group button.active {
    background-color: #45b7e5;
    color: white;
    /* Exemplo de cor. Ajuste conforme desejado. */
}

.btn-group button.active:hover {
    background-color: #45b7e5;
    box-shadow: inset 0 0 0 2px #45b7e5;
}

.textodireita {
    font-size: small;
    padding: 0 10px;
    text-align: right;
}

.mec {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.mec img {
    width: 100%;
    height: auto;
}

.meceinfo {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.informacoes {
    width: 100%;
}

.informacoes a {
    text-decoration: none;
    color: #242527;
}

.informacoes a p {
    padding: 10px;
    margin: 10px;
    margin-left: 0;

    border-bottom: 1px solid #f9e20f;
    margin-right: 20px;

}

.campanha {

    margin-bottom: 10px;
}

.campanha img {
    display: block;
    max-width: 960px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}

@media (max-width: 880px) {
    .btn-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .btn-group button:last-child {
        grid-column: span 2;
    }

    .estudenafamcontainer {
        min-height: 450px;
    }

}


@media (max-width: 650px) {
    .meceinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mec {
        margin: 0 auto;
        margin: 20px;
        margin-top: 30px;
    }

    .informacoes a p {
        margin-left: 0;
        margin-right: 0;
    }

    .informacoes {
        display: block;
    }

}


@media (max-width: 500px) {
    .titulo .esduremaisfam .estudena {
        transform: scale(0.6);
        transform-origin: right;
        margin-left: -60px;
    }

    .titulo .esduremaisfam svg {
        transform: scale(0.6);
        transform-origin: left;
    }

    .esduremaisfam svg {
        margin-left: 8px;
        margin-bottom: 1px;
    }

    .escolha {
        color: #f9e20f;
        margin-top: -20px;
    }


    .estudenafamcontainer {
        min-height: 0;
    }
}


.créditos {
    color: #3a6092;
    font-size: small;
    margin-top: 10px;

}

.azulclarinho {
    color: #45b7e5;
}

.footer-c {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}

.footer-container {
    display: flex;
    max-width: 960px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

footer {
    margin-top: 100px;
    background-color: #1b3556;
    color: #242527;
    padding: 25px;
    text-align: center;
    border-top-right-radius: 50px;
    height: fit-content;
    margin-right: 20px;
    font-family: 'Source Sans 3', sans-serif;
}

.footer-logo img {
    width: 180px;
    margin: 20px;
    padding-right: 20px;
    border-right: 1px solid #45b7e5;
}

.footer-info p {
    margin: 0 0 10px 0;
    text-align: left;
    color: white;
}

.footer-info p i {
    color: #45b7e5;
    font-size: 12px;
    margin-right: 4px;

}

.footer-info p svg {
    margin-right: 4px;
    width: 15px;
    height: 15px;
    fill: #f9e20f;
}

@media (max-width: 500px) {
    .footer-container {
        align-items: flex-start;
        flex-direction: column;
        /* Altera para apresentar o conteúdo em coluna (verticalmente) */
    }

    .footer-logo img {
        padding: 20px;
        border-bottom: 1px solid #45b7e5;
        border-right: 0;
        margin-left: 0;
        /* Ajusta a margem esquerda conforme necessário */
        padding-left: 0;
        /* Ajusta o padding esquerdo conforme necessário */
        border-right: none;
    }

    footer {
        height: fit-content;
        margin-right: 0;
    }

}