@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 14px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #f2f3f8;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid #f2f3f8;
    border-radius: 10px;

}

/* Personaliza a barra de rolagem quando você passa o mouse sobre ela */
::-webkit-scrollbar-thumb:hover {
    background: #1b3556;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f3f8;
    font-family: 'Source Sans 3', sans-serif;

}

main {
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

header {
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
    background-color: white;

}

.logo {
    margin: 0 auto;
    width: 200px;
    height: auto;
}

.estudenafamcontainer {
    background-color: transparent;
    min-height: 400px;

}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.btn-group .tablinks a {
    text-decoration: none;
    
}

/*.btn-group .tablinks:first-child a{
    color: white;
} 

.btn-group .tablinks:first-child:hover a{
    color: black;
}
.btn-group .tablinks:first-child {
    flex-basis: 100%;
    text-align: center;
    background-color: #233a7e;
    box-shadow: inset 0 0 0 2px #233a7e;
    grid-column: span 2;
}


.btn-group .tablinks:first-child:hover {
    flex-basis: 100%;
    text-align: center;
    background-color: white;
    box-shadow: inset 0 0 0 2px #233a7e;
}

/*.btn-group .tablinks:last-child {
    flex-basis: 100%;
    text-align: center;
    background-color: #e53888;
    box-shadow: inset 0 0 0 2px #e53888;
    grid-column: span 2;
}

.btn-group .tablinks:last-child:hover {
    flex-basis: 100%;
    text-align: center;
    background-color: white;
    box-shadow: inset 0 0 0 2px #e53888;
}*/

.btn-group2 {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.btn-group2 a {
    background-color: #086AB4;
    flex: 1;
    color: white;
    box-shadow: inset 0 0 0 2px transparent;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Source Sans 3', sans-serif;
    transition: all 0.3s;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

.btn-group2 a:hover {
    color: #242527;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #1b3556;
}



button, .button_a {
    text-decoration: none;
    flex: 1;
    color: white;
    box-shadow: inset 0 0 0 2px transparent;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Source Sans 3', sans-serif;
    transition: all 0.3s;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    background-color: #1b3556;
}

button:hover, .button_a:hover {
    text-decoration: none;
    color: #242527;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #1b3556;
}

.btn2 {
    width: 100%;
    background-color: #f9e20f;
    box-shadow: inset 0 0 0 2px #f9e20f;
    margin: 0 auto;
    margin-top: 20px;
    color: #242527;
}

.btn2:hover {
    color: #242527;
    box-shadow: inset 0 0 0 2px #1b3556;
    background-color: white;
}

.texto p {
    text-indent: 20px;
    text-align: justify;
    padding: 0 10px;
}

.titulo {
    background-color: #1b3556;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.esduremaisfam {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0;
}

.estudena {
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}

.esduremaisfam img {
    max-width: 450px;
}

.escolha {
    color: #f9e20f;
    margin-top: 10px;
}

.btn-group button.active {
    background-color: #45b7e5 !important;
    color: white;
    box-shadow: inset 0 0 0 2px #45b7e5 !important;

}

.btn-group button.active:hover {
    color: black;
    background-color: white !important;
    box-shadow: inset 0 0 0 2px #45b7e5;
}

.btn-group2 a.active {
    background-color: #45b7e5;
    color: white;
    /* Exemplo de cor. Ajuste conforme desejado. */
}

.btn-group2 a.active:hover {
    background-color: #45b7e5;
    box-shadow: inset 0 0 0 2px #45b7e5;

}

.textodireita {
    font-size: small;
    padding: 0 10px;
    text-align: right;
}

.mec {
    background-color: white;
    margin-top: 20px;

}

.mec img {
    width: 100%;
    height: auto;
}

.meceinfo {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.informacoes {
    width: 100%;
}

.informacoes a {
    text-decoration: none;
    color: #242527;

}

.informacoes a p {
    padding: 3px 10px;
    margin: 10px;
    margin-left: 0;
    border-bottom: 1px solid #f9e20f;
    margin-right: 20px;

}

.campanha {
    margin-bottom: 10px;
}

.campanha img {
    display: block;
    max-width: 960px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}

.cursosposwow {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.cursosposwow a {
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    text-align: center;
}


.financas {
    background-image: linear-gradient(to right, #1f8ab4, #00509b);
}

.fiscal {
    background-image: linear-gradient(to right, #003256, #000836);
}

.clinica {
    background-image: linear-gradient(to right, #1C5C45, #0a2b3f);
}

.marketing {
    background-image: linear-gradient(to right, #e53888, #962690);
}

.cavalo {
    background-image: linear-gradient(to right, #3eb288, #268086);
}

.neuro {
    background-image: linear-gradient(to right, #008F9F, #014869);
}

.psicoescolar {
    background-image: linear-gradient(to right, #5d378d, #2d1755);
}

.silvestre {
    background-image: linear-gradient(to right, #3eb251, #166d3a);
}

@media (max-width: 880px) {
    .btn-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .btn-group button:nth-child(6),
    .btn-group button:last-child {
        grid-column: span 2;
    }

        /*.btn-group button:nth-child(5), .btn-group button:last-child {
            grid-column: span 2;
        } */

    /* .btn-group button:last-child {
        grid-column: span 2;
    } */



}


@media (max-width: 650px) {



    .meceinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mec {
        margin: 0 auto;
        margin: 20px 0;
        margin-top: 30px;
        width: 100%;

    }

    .informacoes a p {
        margin-left: 0;
        margin-right: 0;
    }

    .informacoes {
        display: block;
    }

    .cursosposwow {
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

@media (max-width: 550px) {


}


@media (max-width: 500px) {

    .estudenafamcontainer {
        min-height: 0;
    }

}

@media (max-width: 330px) {
    .btn-group {
        display: flex;
    }

}


.whatsapp-float {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    background-color: #25d366;
    color: #fff;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    text-decoration: none;
    z-index: 9999;
    transition: all 0.3s;
}

.whatsapp-float i {
    margin-bottom: 2px;
}

.whatsapp-float:hover {
    transform: scale(1.10);
}

.tabcontent,
.initial-text {
    display: none;
    border-top: none;
}





/*slider -------------------------------------------------------------------------------------------------------------------------------------------------------*/
.progress-bar {
    width: 100%;
    height: 3px;
    position: absolute;
    border-radius: 5px;
    bottom: 27px;
    opacity: 0.5;
}

.progress {
    height: 100%;
    background-color: #45b7e5;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: progressBar 10s linear forwards;
    border-radius: 5px;
}

@keyframes progressBar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
    text-align: center;
    border-radius: 10px;
}

.active {
    display: block;
}

.slide h2 {
    font-size: x-large;
    color: #1b3556;
}

.navigation {
    text-align: center;
    margin-top: 12px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #1b3556;
    border-radius: 50%;
    display: inline-block;
}

.active-dot {
    background-color: #45b7e5;
}