@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
  width: 12px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.219);
  border: 2px solid white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* Compatibilidade com Firefox */
html {
  scroll-behavior: smooth;
  scrollbar-color: rgba(0, 0, 0, 0.219) white;
}

body{
    margin: 0;
    padding: 0;
   
}

header{
 background-color: #218fc1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

header img{
   width: 120px;
}

main{
    width: 960px;
    margin: 0 auto;
}

   /*font-family: 'Source Sans 3', sans-serif;*/

.header-content{
    display: flex;
    max-width: 600px;
      font-family: "Bebas Neue", sans-serif;
      gap: 15px;
      color: white;
}

.texto-dourado{
    color: #e5c585;
}