@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Personaliza a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 12px;
}

/* Personaliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}

/* Personaliza a barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.219);
    border: 2px solid white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

/* Compatibilidade com Firefox */
html {
    scroll-behavior: smooth;
    scrollbar-color: rgba(0, 0, 0, 0.219) white;
}

body {
    margin: 0;
    padding: 0;

}

header {
    background-color: #1b82b3;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.5' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.4'/%3E%3C/svg%3E");
    background-blend-mode: overlay;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/fundo.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 1;
}

header>* {
    position: relative;
    z-index: 2;
}

header img {
    width: 120px;
}

main {
    width: 960px;
    font-family: 'Source Sans 3', sans-serif;

    margin: 0 auto;
}

.header-content {
    display: flex;
    max-width: 430px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    gap: 15px;
    color: white;
}

.header-content h1 {
    margin-top: 6px;
}

.texto-dourado {
    color: #e5c585;
}

.foto-palestrante img {
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
}

.palestrante {
    display: flex;
    gap: 20px;
    
}