@import url('https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans 3', sans-serif;
}

.tl-timeline h1, .tl-timeline h2, .tl-timeline h3, .tl-timeline h4, .tl-timeline h5, .tl-timeline h6, .tl-timeline p, .tl-credit, .tl-caption, .tl-timeaxis{
    font-family: 'Source Sans 3', sans-serif !important;
}

.tl-media .tl-media-content-container .tl-media-content img, .tl-media .tl-media-content-container .tl-media-content embed, .tl-media .tl-media-content-container .tl-media-content object, .tl-media .tl-media-content-container .tl-media-content video{
    box-shadow: none !important;
    
}

.tl-storyslider .tl-slider-container-mask {
    overflow-y: scroll;

}
.tl-storyslider{
padding-bottom: 10px;
}


header {
    height: 500px;
    background-color: aquamarine;
    flex: 0 0 auto;
}

main {
    background-color: white;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    max-width: 960px;
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.iframe-container {
    flex: 1 0 auto;
    display: flex;
    width: 100%;
    height: 700px;
}

iframe {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

@media (max-width: 700px) {
    .iframe-container {
        height: 99vh;
    }
    .tl-caption{
        padding-bottom: 50px;
        }
    main {
        padding: 10px;
    }
}